[2020-10-18 08:28] SANKET7738 opened #2 "Implement Cesar Cipher"
# Description

Write a script to implement Cesar Cipher in Python.  the function should take a message and a shift value and should return the encrypted message.

[2020-10-18 08:34] SANKET7738 opened #3 "Implement Substitution Cipher"
# Description
Write a Script to implement substitution cipher. The function should take the message and key from the user and return the encrypted message.

[2020-10-18 08:39] Nagasuruthika commented on #2
I'd like like to take up this issue

[2020-10-18 08:40] SANKET7738 opened #4 "Script to accept bulk LinkedIn Connection requests."
# Description
Write a script to accept bulk LinkedIn connection requests.

[2020-10-18 08:43] tejan-singh commented on #2
Yes you can work on this issue.

[2020-10-18 08:44] Namyalg commented on #3
I would like to work on this

[2020-10-18 08:47] tejan-singh commented on #3
you can start working on this.

[2020-10-18 08:51] SANKET7738 opened #5 "Script to scrape IPL scores"
# Description
Write a script to use web-scraping to get the present day's IPL matches and scores at the moment. you are free to choose to scrape any website you want and you can add more functionality like giving details like Team members, stadium name, etc.

[2020-10-18 08:53] tejan-singh opened #6 "Improve documentation."
Everyone can work on this issue. This issue can be assigned to multiple assignees.

Mention the changes when sending PRs.

Description (you will be scored for these changes):
- Adding description about repository
- Making it look attractive by adding swags, counters, working stats.
- Major formatting and improvements.

Description (you will not be scored for these changes):
- Minor grammatical mis

[2020-10-18 08:57] SANKET7738 opened #7 "Convert image to text"
# Description

Write a script to convert an image to text. basically, a script to perform OCR. the text from the image must be stored in a `.txt` file.

[2020-10-18 08:58] Namyalg commented on #3
Can the key be accepted as a text file or csv file?

[2020-10-18 09:00] Namyalg commented on #7
I would like to work on this

[2020-10-18 09:00] SANKET7738 commented on #7
assigned to you @Namyalg

[2020-10-18 09:05] tejan-singh opened #8 "create a simple port scanner to scan for open ports for server (without multi-threading)"

[2020-10-18 09:06] AdityaJ7 commented on #5
Hi @SANKET7738 I would like to work on this issue

[2020-10-18 09:06] tejan-singh opened #9 "create a simple port scanner to scan for open ports for server (with multi-threading)"

[2020-10-18 09:07] tejan-singh commented on #5
you can work on it.

[2020-10-18 09:10] SANKET7738 opened #10 "Script to scrape Amazon products"
# Description

Write a script to scrape amazon products. the function should take the name of the product and it should return the top 5 products for the query with their name, price, and ratings.

[2020-10-18 09:11] tejan-singh opened #11 "Password Cracker Using Python"
hint :- you can use hashlib for this.

[2020-10-18 09:16] Namyalg commented on #4
I would like to attempt working on this issue

[2020-10-18 09:19] AdityaJ7 commented on #10
Hi @SANKET7738 I would like to work on this issue

[2020-10-18 09:19] tejan-singh opened #12 "create a file hasher using python with different hashing methods."
it should include hashes like md5, sha etc
hint: you can use hashlib.

[2020-10-18 09:21] tejan-singh opened #13 "to create a private/public keypair for SSH-authentication for password-less connecting to a remote server."
you can use pycryptodome module in python

[2020-10-18 09:21] harshareddy794 commented on #12
@tejan-singh  Can I work on this issue?

[2020-10-18 09:22] tejan-singh opened #14 "a simple python script to shut down your System"

[2020-10-18 09:22] tejan-singh commented on #12
yes you can work on this.

[2020-10-18 09:23] AdityaJ7 commented on #14
Hi @tejan-singh can I take this issue?

[2020-10-18 09:26] tejan-singh commented on #4
@Namyalg issues are already assigned to you. Please complete those issue then we can assign you more.

[2020-10-18 09:27] eternal-dreamer commented on #9
I want to work on this issue.

[2020-10-18 09:30] tejan-singh opened #15 "a simple random password generator."
- try to take no. of character as input from users for password length then generate a random password.

[2020-10-18 09:31] tejan-singh commented on #9
yes you can work on this.

[2020-10-18 09:33] tejan-singh commented on #10
yes you can work on this issue.

[2020-10-18 09:34] tejan-singh commented on #14
i have already assigned issues to you. Please complete them first then you can work on more.

[2020-10-18 09:37] Namyalg commented on #15
I would like to work on this

[2020-10-18 09:51] Nagasuruthika commented on #14
I'd like to work on this

[2020-10-18 10:16] tejan-singh commented on #14
assigned to you @Nagasuruthika

[2020-10-18 10:45] Namyalg commented on #3
Okay, will do!

[2020-10-18 10:57] yashaswibiyahut opened #20 "Script to convert all HTML Files to Markdown Format"
Create a script that can convert all HTML Files to Markdown Format.

[2020-10-18 11:31] #5 closed, assigned to nobody

[2020-10-18 11:33] AdityaJ7 commented on #20
Hi @yashaswibiyahut can I take this?

[2020-10-18 11:35] yashaswibiyahut commented on #20
Assigned to you @AdityaJ7

[2020-10-18 11:38] yashaswibiyahut opened #21 "Check a valid YAML file."
We often use YAML, but there are times it can confusing in terms of the wrong indentation, so this script will help to validate the YAML file.

[2020-10-18 12:21] tejan-singh opened #22 "A Simple keylogger for windows"

[2020-10-18 12:22] tejan-singh opened #23 "A Simple keylogger for linux"

[2020-10-18 12:23] tejan-singh opened #24 "Simple malware to get a reverse shell from a windows target"

[2020-10-18 12:30] tejan-singh opened #25 "simple script to show your system information"

[2020-10-18 12:36] tejan-singh opened #27 "script to find admin panel of a website"
hint: you can use sys, requests and time modules.

[2020-10-18 12:46] tejan-singh opened #28 "create a automated script to check for XSS on a website."
- you must read payloads from an XSS payload text file.
- hint: you can use requests and subprocess modules in python.

[2020-10-18 12:48] balapriyac opened #29 "Script to scrape PDF"
- Experiment with different libraries; PyPDF2,PDFMiner etc

[2020-10-18 13:04] #20 closed, assigned to AdityaJ7

[2020-10-18 13:06] balapriyac opened #30 "Write code for Primality Testing"
-  Check if number is prime
-  Use simple approach first
-  Fermat Primality Test

[2020-10-18 13:26] balapriyac opened #31 "Implement Modular Exponentiation"
- Include importance of modular exponentiation in cryptography in README while raising PR
-  Try to come up with more than one solution
- Compare the time and space complexity of each approach

[2020-10-18 13:36] balapriyac opened #32 "Script to scrape your favourite e-learning platform"
- Use any library that you're comfortable with
- Get info of the courses offered
- Cleaned csv file containing course name, key skills covered, instructor name/institute and the urls associated with them

[2020-10-18 13:47] balapriyac opened #33 "Chinese Remainder Theorem"
- Understand CRT
- Implement in you programming language of choice
- Relevance in cryptography

[2020-10-18 14:22] harshareddy794 commented on #11
Can I create a python script that uses an excel sheet as a dataset to crack sha256 and MD5 hashed passwords? @tejan-singh
I am using hashlib for this. Can you explain this in a brief?
Thank you

[2020-10-18 15:58] Namyalg commented on #7
I have added the README and made the changes

[2020-10-18 16:08] SANKET7738 commented on #7
Just add a screenshot of the output in the README. Please refer to the contribution guidelines mentioned on the Slack channel.

[2020-10-18 16:15] SANKET7738 opened #35 "Create a CONTRIBUTING.md"
# Description
Create a CONTRIBUTING.md mentioning all the guidelines mentioned on the slack channel.  Mention proper instructions and guidelines to follow right from forking the repo to submitting a PR. Added screenshots would be helpful.

[2020-10-18 16:16] harshareddy794 commented on #25
@tejan-singh  Can I work on this issue?

[2020-10-18 16:23] yashaswibiyahut commented on #25
Go for it @harshareddy794

[2020-10-18 16:29] harshareddy794 commented on #25
Thanks @yashaswibiyahut

[2020-10-18 16:59] Sapna2001 commented on #35
@SANKET7738 can I work on this issue?

[2020-10-18 17:04] tejan-singh commented on #35
are you a participant?

[2020-10-18 17:06] Sapna2001 commented on #35
@tejan-singh Yes.

[2020-10-18 17:17] #2 closed, assigned to Nagasuruthika

[2020-10-18 17:20] yashaswibiyahut commented on #35
Go for it @Sapna2001

[2020-10-18 17:54] ShruthiShriT commented on #4
can i work on this issue?

[2020-10-18 17:57] SANKET7738 commented on #4
@ShruthiShriT mention the language you will be using.

[2020-10-18 19:06] kritikaparmar-programmer commented on #29
Hey @balapriyac please assign me this issue.

[2020-10-18 19:07] kritikaparmar-programmer commented on #27
Hey @tejan-singh please assign me this issue.

[2020-10-18 19:33] muddhit commented on #33
Please assign me it for JAVA!!

[2020-10-18 19:38] HabibRh26 commented on #23
Hello, I want to take this task, my preferred language is python. thanks

[2020-10-18 21:08] ashishsahu1 commented on #22
@tejan-singh I want to work on this issue.

[2020-10-19 01:48] balapriyac commented on #33
Sure

[2020-10-19 02:40] ultraUnicorn74 commented on #30
I would like to work on this issue.please assign me.

[2020-10-19 02:50] balapriyac commented on #30
Could you pls specify language you'd like to code in

On Mon, 19 Oct 2020, 8:10 am RICHA BHARTI, <notifications@github.com> wrote:

[2020-10-19 02:54] ultraUnicorn74 commented on #30
@balapriyac i would like to code in c++.

[2020-10-19 03:41] Ninjavin commented on #8
Hey @tejan-singh please assign me for this issue.

[2020-10-19 05:33] yashaswibiyahut commented on #27
`Go for it @kritikaparmar-programmer `

[2020-10-19 05:34] yashaswibiyahut commented on #23
Go for it @HabibRh26

[2020-10-19 05:36] yashaswibiyahut commented on #22
Go for it @ashishsahu1

[2020-10-19 05:37] yashaswibiyahut commented on #8
Go for it @Ninjavin

[2020-10-19 06:15] tejan-singh commented on #11
Yes you can use excel file, csv,or txt to read payloads

[2020-10-19 06:17] #3 closed, assigned to Namyalg

[2020-10-19 06:18] #7 closed, assigned to Namyalg

[2020-10-19 06:20] harshareddy794 commented on #11
I would like to work on this issue @tejan-singh
Please assign me

[2020-10-19 06:31] yashaswibiyahut opened #41 "Strong password detection."
Make a Python Script that detects a strong password.

[2020-10-19 06:34] yashaswibiyahut commented on #11
Go for it @harshareddy794

[2020-10-19 06:39] harshareddy794 commented on #11
Thanks @yashaswibiyahut

[2020-10-19 06:40] harshareddy794 commented on #12
My PR got merged but the issue is still open can you check @tejan-singh

[2020-10-19 07:29] Abhijeet-sonkar commented on #41
Can I work on this issue?

[2020-10-19 07:39] yashaswibiyahut commented on #41
Go for it @Abhijeet-sonkar

[2020-10-19 07:41] #25 closed, assigned to harshareddy794

[2020-10-19 08:00] Shubham-1105 commented on #32
I want to work on this

[2020-10-19 08:03] Shubham-1105 commented on #21
I can work on this

[2020-10-19 08:06] yashaswibiyahut commented on #32
Go for it @Shubham-1105

[2020-10-19 08:40] yashaswibiyahut commented on #21
Go for it @Shubham-1105

[2020-10-19 09:03] AdityaJ7 commented on #31
Hi @balapriyac , I would like to work on this

[2020-10-19 09:08] balapriyac commented on #31
Sure  which language would you prefer?

On Mon, 19 Oct 2020, 2:33 pm Aditya Jetely, <notifications@github.com>
wrote:

[2020-10-19 09:10] Abhijeet-sonkar commented on #41
Can you provide the specification for Strong Password?

[2020-10-19 09:15] AdityaJ7 commented on #31
Python @balapriyac

[2020-10-19 09:17] balapriyac commented on #31
Sure, I shall assign.

On Mon, 19 Oct 2020, 2:46 pm Aditya Jetely, <notifications@github.com>
wrote:

[2020-10-19 09:20] srimanikantapalakollu opened #44 "Developing a Keylooger in Python"
Developing a python script to implement keylogger.

### Tech Stack
- python3

[2020-10-19 09:22] srimanikantapalakollu commented on #28
I want to work on this issue.

[2020-10-19 09:24] yashaswibiyahut commented on #41
Conditions for Strong Password:
1) length of the entered password should not be greater than 15
2) The entered password should have at least one uppercase letter
3) Password should have at least one lowercase letter
4) The entered password should have at least one numeral
5) The entered password should have at least one of the symbols $@#_*

[2020-10-19 09:26] yashaswibiyahut commented on #28
Go for it @srimani-programmer

[2020-10-19 09:44] 0xpranjal commented on #44
I would like to work on this. Can you please assign me this issue?

[2020-10-19 09:46] srimanikantapalakollu commented on #44
Sorry, @Bhard27 actually I want to work on this issue that is the reason I created it.

[2020-10-19 09:46] srimanikantapalakollu commented on #44
@yashaswibiyahut please assign it to me.

[2020-10-19 09:53] 0xpranjal commented on #44
@srimani-programmer Oh okay, my bad. Sure go ahead!

[2020-10-19 10:02] yashaswibiyahut commented on #44
Go for it @srimani-programmer

[2020-10-19 11:44] yashaswibiyahut opened #48 "Check the timing of a program"
Check how long a program has been running and offer the user a chance to cancel tasks that are taking too long.

- [x] C++
- [ ]  Javascript
- [ ] Python

[2020-10-19 12:36] yashaswibiyahut opened #49 "Launching Other Programs from Python"
Use python to run other programs on your computer like Calculator, etc.

[2020-10-19 13:32] AdityaJ7 commented on #48
Hi, @yashaswibiyahut I would like to work on this issue with Python.
I will write the script for Windows OS.

[2020-10-20 06:00] #41 closed, assigned to Abhijeet-sonkar

[2020-10-20 06:17] sanjibansg commented on #49
Can I take up the work ?

[2020-10-20 06:19] sanjibansg commented on #24
Can I take up the work?

[2020-10-20 06:22] sanjibansg commented on #4
Do assign me this issue if available.

[2020-10-20 07:32] SANKET7738 commented on #4
guys mention the language you will be using while asking for a PR. Anyone who is presently working on this please comment on the language you are using.

[2020-10-20 08:09] #11 closed, assigned to harshareddy794

[2020-10-20 08:27] yashaswibiyahut opened #52 "Scrap Top Movies from IMDB"
Scrap top 250 movies from IMDB and generate a **CSV** file for it

Use [https://www.imdb.com/chart/top/?ref_=nv_mv_250](url) for scraping

[2020-10-20 08:30] yashaswibiyahut opened #53 "Script for BMI Calculator"
Create a python script which calculates the Body Mass Index (BMI).

[2020-10-20 09:02] ShruthiShriT commented on #4
@SANKET7738 i am using javascript

[2020-10-20 09:58] #12 closed, assigned to harshareddy794

[2020-10-20 09:59] tejan-singh commented on #24
Go for it!

[2020-10-20 10:09] tejan-singh commented on #30
@richabh456  are you working on this issue?

[2020-10-20 10:11] ultraUnicorn74 commented on #30
@tejan-singh  yes sir it got merged.

[2020-10-20 10:18] balapriyac opened #55 "It's prime time again! Given a number N, find the largest N digit prime"

[2020-10-20 10:19] balapriyac opened #56 "Euclid's GCD Algo and relevance in cryptography"
- Pls be sure to mention the relevance in cryptography in the README while raising PR

[2020-10-20 10:22] balapriyac opened #57 "Super easy one! Prime Factorization"
- Pls identify use cases of prime factorization in cryptography
- It could be a rather simple one / part of other algorithms as well

[2020-10-20 10:24] balapriyac opened #58 "Exploring SimPy"
- SimPy is a discrete event simulation library in Python
- Create a SimPy model for a simple process such as scheduling, billing counter, ticketing system etc
- Use features like 'Interrupt' available in SimPy to allow the process to be interrupted by high priority events

[2020-10-20 10:25] tejan-singh opened #59 "script to get all links from a webpage"

[2020-10-20 10:27] tejan-singh opened #60 "a web crawler for grabbing emails from a website"

[2020-10-20 10:27] tejan-singh opened #61 "a web crawler for grabbing links from a website"

[2020-10-20 10:31] tejan-singh opened #63 "to split a large csv file into no. of small files"
- must specify no. of rows in the command line input to split the file.

[2020-10-20 10:33] tejan-singh opened #64 "to grab images from a directory, then optimize them for the web."
- a image resizing tool

[2020-10-20 10:33] Ninjavin commented on #53
Hey @yashaswibiyahut I would like to work on this issue.
Should I create a GUI using Tkinter or a simple script would suffice?

[2020-10-20 10:35] tejan-singh opened #65 "to generate random names."
- make a list of first names and last names and generate a random name using both.

[2020-10-20 10:37] tejan-singh opened #66 "to convert tsv to csv file"

[2020-10-20 10:39] tejan-singh opened #67 "to convert sql to csv"

[2020-10-20 10:41] tejan-singh opened #68 "given a CSV file with an ip address return the geolocation based on the IP address."
- hint: you can use request and CSV modules in python.

[2020-10-20 10:45] tejan-singh opened #69 "script to send a text message to mobile no. by using https://textbelt.com/"

[2020-10-20 10:48] tejan-singh opened #70 "to convert JSON to YAML"
- you need to take input from a JSON file and save the output to another file.

[2020-10-20 10:50] balapriyac opened #71 "Beginner-friendly! Generate random data points; Implement K Means clustering from Scratch"
- pls do not use scikit-learn

[2020-10-20 10:56] AdityaJ7 commented on #70
Hi @tejan-singh can I take this issue with Python?

[2020-10-20 10:58] ishi0301 commented on #56
Please assign me this issue. I would like to work upon this

[2020-10-20 10:58] ishi0301 commented on #57
Please assign me this. I would like to work upon this.

[2020-10-20 11:12] tejan-singh commented on #70
@AdityaJ7 it seems like you have 2 already assigned issues. If you want to work on this issue then I need to unassign you from any of your past assigned issues. Please clearify what would you like to do?

[2020-10-20 11:15] AdityaJ7 commented on #70
ok unassign me from any one of those two, because I have completed this one, but after submitting a Pr for this I can be assigned back to the one from which I am removed right?? @tejan-singh

[2020-10-20 11:21] tejan-singh commented on #70
yes sure!

[2020-10-20 11:24] mahimagoyalx commented on #55
I would like to work upon this.

[2020-10-20 11:25] #30 closed, assigned to nobody

[2020-10-20 11:26] AdityaJ7 commented on #10
@tejan-singh You can assign me back if you are ok with the pr that I submitted just now.

Thanks

[2020-10-20 11:41] balapriyac commented on #56
Sure, which programming language would you prefer?

On Tue, 20 Oct 2020, 4:28 pm Ishita Singh, <notifications@github.com> wrote:

[2020-10-20 11:41] balapriyac commented on #55
Pls specify the programming language that you'd like to code in

On Tue, 20 Oct 2020, 4:54 pm Mahima Goyal, <notifications@github.com> wrote:

[2020-10-20 11:42] balapriyac commented on #57
Pls specify the programming language you'd be using

On Tue, 20 Oct 2020, 4:29 pm Ishita Singh, <notifications@github.com> wrote:

[2020-10-20 11:43] yashaswibiyahut commented on #53
Simple script @Ninjavin

[2020-10-20 11:53] mahimagoyalx commented on #55
c++

[2020-10-20 11:53] #22 closed, assigned to ashishsahu1

[2020-10-20 12:34] #70 closed, assigned to AdityaJ7

[2020-10-20 13:15] Nagasuruthika commented on #52
I'd like to take up this issue.

[2020-10-20 15:13] Sapna2001 commented on #59
Can I work on this issue?

[2020-10-20 15:33] harshareddy794 commented on #60
Can I work on this issue @tejan-singh

[2020-10-20 15:43] Divyansh-20 commented on #71
@balapriyac can this be assigned to me?

[2020-10-20 15:50] tejan-singh commented on #59
Go for it @Sapna2001

[2020-10-20 15:50] tejan-singh commented on #60
Go for it @harshareddy794

[2020-10-20 15:51] tejan-singh commented on #71
Go for it @Divyansh-20

[2020-10-20 15:52] tejan-singh commented on #52
Go for it @Nagasuruthika

[2020-10-20 15:53] #31 closed, assigned to nobody

[2020-10-20 15:55] Tejas1510 commented on #61
@tejan-singh Sir can you please assign me this issue

[2020-10-20 15:58] harshareddy794 commented on #65
@tejan-singh  Can I work on the issue?

[2020-10-20 16:43] tejan-singh commented on #65
@harshareddy794 Yes, you can work on this.

[2020-10-20 17:03] harshulab commented on #55
Please assign me this issue, I can solve it using C++.

[2020-10-20 17:06] yashaswibiyahut commented on #61
Go for it @Tejas1510

[2020-10-20 17:09] yashaswibiyahut commented on #55
Go for it @mahimagoyalx

[2020-10-21 03:38] HaripriyaB commented on #69
Can I work on this issue?

[2020-10-21 03:43] HaripriyaB commented on #63
Can I work on this issue??

[2020-10-21 03:58] TaniaMalhotra commented on #67
Hii! Can I take this up?

[2020-10-21 04:06] TaniaMalhotra commented on #58
Hii!
I would like to take this up!

[2020-10-21 07:11] yashaswibiyahut opened #79 "Get Meaning of a Word"
Create a Script to get the Meaning of a Word straight from CLI.
Make use of APIs to get the meaning of a word.

[2020-10-21 07:15] yashaswibiyahut opened #80 "Get sports score updates"
Get live matches scores, team info, and match info using the sports.py module

[2020-10-21 07:21] AdityaJ7 commented on #79
Hi @yashaswibiyahut can i work on this issue?

[2020-10-21 07:25] Nibba2018 commented on #68
Hey @tejan-singh I would like to work on this issue.

[2020-10-21 07:31] anut123 commented on #80
Can I work on this issue?

[2020-10-21 07:51] Nibba2018 commented on #68
Also I am not aware of `Autumn of Open Source` so it would be great if you provide links to know more about it.

[2020-10-21 08:05] yashaswibiyahut commented on #79
Go for it @AdityaJ7

[2020-10-21 08:06] yashaswibiyahut commented on #80
Go for it @anut123

[2020-10-21 08:29] tejan-singh commented on #4
@ShruthiShriT you can work in JavaScript.

[2020-10-21 08:31] HaripriyaB commented on #69
@tejan-singh The textbelt api is available in paid version. And in order to use it for free, need to set up the self hosted server. Any idea how to do it?

[2020-10-21 09:00] aayush-vish commented on #6
@tejan-singh Can I work on this?

[2020-10-21 09:01] aayush-vish commented on #66
@tejan-singh I would like to work on this.
Can I?

[2020-10-21 09:04] tejan-singh commented on #6
@aayush-vish please mention changes you are trying to make.

[2020-10-21 09:08] tejan-singh commented on #66
go ahead ! @aayush-vish

[2020-10-21 09:08] aayush-vish commented on #6
I will make the readme file more attractive like using some gifs and all.

[2020-10-21 09:10] tejan-singh commented on #68
@are you a participant? have you registered for the event?

[2020-10-21 10:51] Shivangi22Agarwal commented on #6
I'd like to take up the opportunity to work on this. May I?

[2020-10-21 11:03] tejan-singh commented on #6
@aayush-vish @Shivangi22Agarwal please go-ahead!

[2020-10-21 11:19] #79 closed, assigned to AdityaJ7

[2020-10-21 11:30] yashaswibiyahut opened #87 "Wifi Speed tester"
wifi-speed-tester that would provide the download speed, upload speed, and the ping of the connected network.

[2020-10-21 11:31] AdityaJ7 commented on #68
@tejan-singh can I take this I just have one more issue assigned to me?

[2020-10-21 12:03] harshareddy794 commented on #87
Can I work on the issue? @yashaswibiyahut

[2020-10-21 12:07] sanjibansg commented on #49
Before making the initial PR, I wanted to clarify about the Operating System configuration. Also, for Windows, we can use a script like this
[code]

Do kindly clarify this before making the initial PR. @yashaswibiyahut

[2020-10-21 12:27] #8 closed, assigned to Ninjavin

[2020-10-21 12:42] #65 closed, assigned to harshareddy794

[2020-10-21 12:43] tejan-singh commented on #87
grab it. @harshareddy794

[2020-10-21 13:07] ShruthiShriT commented on #4
@tejan-singh ok

[2020-10-21 13:16] kana800 commented on #68
Is this up for grab @tejan-singh ?

[2020-10-21 15:02] Nibba2018 commented on #68
@tejan-singh I haven't registered yet. I cant find the appropriate information anywhere.

[2020-10-21 15:06] balapriyac opened #91 "Implement Simple Linear Regression (Univariate Linear Regression)"
- Use NumPy; not scikit-learn
- Use either randomly generated dataset or simple dataset from kaggle
- Pls include EDA section in your notebook
- Comment on inferences and metrics for evaluation

[2020-10-21 15:09] balapriyac opened #92 "Implement Multivariate linear regression"
- Use only NumPy; not scikit-learn
- Use either randomly generated dataset or simple dataset from kaggle
- Pls include EDA section in your notebook for the chosen dataset
- Comment on inferences and metrics for evaluation

[2020-10-21 15:12] balapriyac opened #93 "Implement Gradient Descent Algorithm"
- Summarize your understanding of the GD Update rule in README
- Code from scratch

[2020-10-21 15:17] balapriyac opened #94 "Activation Functions"
Write code the following Activation Functions

Be sure to include the plots and elaborate on the advantages and disadvantages
(vanishing gradient, dead neuron problem etc for example)

Sigmoid, ReLU, Leaky ReLU, tanh, Swish,Mish

[2020-10-21 15:17] #61 closed, assigned to Tejas1510

[2020-10-21 15:34] Nibba2018 commented on #68
@tejan-singh is [this](https://aos.sanscript.tech/) the correct link? cause the registration form never loads.

[2020-10-21 16:18] #63 closed, assigned to HaripriyaB

[2020-10-21 16:18] #35 closed, assigned to Sapna2001

[2020-10-21 16:21] SANKET7738 commented on #6
Is anyone still working on this?

[2020-10-21 18:05] Tejas1510 commented on #93
@balapriyac can I work on this issue

[2020-10-21 18:21] tejan-singh commented on #68
@Nibba2018  Working fine.

[2020-10-21 18:23] tejan-singh commented on #68
@kana800 have you registered for this event?

[2020-10-21 18:27] kana800 commented on #68
@tejan-singh yeap! just registered

[2020-10-21 18:40] kana800 commented on #69
@HaripriyaB Mentioned in the [DOCs](https://docs.textbelt.com/), **textbelt** has a free API

Have you tried using that?

[2020-10-21 18:46] HaripriyaB commented on #69
For getting our own API key we need to pay for it. But there is another way by hosting the server from local, which I haven't tried yet. Not sure if it'll work

[2020-10-21 18:48] TaniaMalhotra commented on #64
Hii! @tejan-singh
I just created a PR for an issue that was assigned to me
Can I work on this?

[2020-10-21 18:51] Nibba2018 commented on #68
@tejan-singh Registered

[2020-10-21 18:53] tejan-singh opened #97 "amazon price tracker! Sale Session Special!!"
You need to build a script that will ask for your budget and the product link and notify you when the product price drops,

[2020-10-21 18:54] tejan-singh opened #98 "a script to track your network usage and notify you if it exceeds a specified limit."

[2020-10-21 18:57] tejan-singh opened #99 "a python script to notify you to take rest after certain time."

[2020-10-21 18:59] tejan-singh opened #100 "to convert any image format to jpg format"

[2020-10-21 19:04] tejan-singh opened #101 "simple covid notifier"
- a simple script to remind every hour with no. of active cases, recovered cases and deaths in India or world whatever you find relevant.

hint: use some covid API

[2020-10-21 19:05] tejan-singh opened #102 "script to send emails"

[2020-10-21 19:21] tejan-singh opened #103 "a face detection script"
use open cv

[2020-10-21 19:22] tejan-singh opened #104 "to convert a folder in zip"

[2020-10-21 19:25] tejan-singh opened #105 "detect humans from an image"
- take an image as input and highlight all the humans

[2020-10-21 19:30] tejan-singh opened #106 "a script to get geolocation using IP address"
- you need to take input as IP address and give output as latitudes and longitudes.

[2020-10-21 19:32] tejan-singh opened #107 "url shortner"

[2020-10-21 19:38] tejan-singh opened #108 "attend automatic zoom calls"
- A zoom bot that automatically joins zoom calls for you

[2020-10-21 19:38] tejan-singh opened #109 "zoom bot."
- A zoom bot that automatically joins zoom calls for you

[2020-10-21 19:41] tejan-singh opened #110 "instagram bot"
list all the accounts that you follow, which don't follow you back.

[2020-10-21 19:46] kritikaparmar-programmer commented on #103
Hey @tejan-singh I want to work on this issue. Please assign me

[2020-10-21 20:06] Namyalg commented on #97
I would like to work on this in Python

[2020-10-21 20:11] kritikaparmar-programmer commented on #108
Hey @tejan-singh Can I take up this issue?

[2020-10-21 20:12] Namyalg commented on #97
@tejan-singh , can we also raise issues and work on them?

[2020-10-21 20:26] Namyalg commented on #106
I would like to work on this in Python

[2020-10-22 03:15] Divyansh-20 commented on #101
@tejan-singh Can I take up this issue? I'll be using Python as the scripting language

[2020-10-22 03:45] kana800 commented on #104
can i do this ?

[2020-10-22 03:58] kana800 commented on #69
@HaripriyaB, What I meant is that there is a free API called `textbelt`. You can **send 1 free message** using the free API and _YES_ to get your own API key we need to pay for it. I think you can just use the **free API**.
<details>
  <summary>sample code _spoiler_ </summary>

[code]
![WhatsApp Image 2020-10-22 at 09 24 16](https://user-images.githubusercontent.com/64830745/96822912-ccbbe980-1448

[2020-10-22 04:23] HaripriyaB commented on #69
I tried in postman, this one free message per day API but I was getting some error. Can you tell me the format of the phone number you provided. Is it +91 prefix??

[2020-10-22 04:40] kana800 commented on #69
@HaripriyaB  your number should be in the `E.164 format`. More information [here](https://docs.textbelt.com/faq#how-should-i-format-my-phone-numbers)
eg:
`+919555536736`

[2020-10-22 04:53] HaripriyaB commented on #69
Thank you. So sorry to bother you 😅

[2020-10-22 05:00] HaripriyaB commented on #110
Can I take this up?

[2020-10-22 05:47] yashaswibiyahut commented on #110
Grab it @HaripriyaB

[2020-10-22 05:49] yashaswibiyahut commented on #108
@kritikaparmar-programmer I have already assigned issues to you. Please complete them first then you can work on more.

[2020-10-22 05:53] yashaswibiyahut commented on #104
go for it @kana800

[2020-10-22 05:54] yashaswibiyahut commented on #103
@kritikaparmar-programmer I have already assigned issues to you. Please complete them first then you can work on more.

[2020-10-22 05:56] yashaswibiyahut commented on #97
@Namyalg  I have already assigned issues to you. Please complete them first then you can work on more.
Yes, you can but after creating wait for mentors to assign that issue to you then after you can work on that issue.

[2020-10-22 06:01] yashaswibiyahut commented on #64
@TaniaMalhotra  I have already assigned issues to you. Please complete them first then you can work on more.

[2020-10-22 06:11] Sapna2001 commented on #107
Can I work on this?

[2020-10-22 06:42] Namyalg commented on #97
I have created a PR for the issues that were assigned to me

Namya LG

On Thu, Oct 22, 2020, 11:26 AM Yashaswi Biyahut <notifications@github.com>
wrote:

[2020-10-22 07:41] #59 closed, assigned to Sapna2001

[2020-10-22 07:42] Tejas1510 commented on #100
@tejan-singh Sir can I work on this

[2020-10-22 09:10] Sapna2001 commented on #102
Can I work on this?

[2020-10-22 09:10] tejan-singh commented on #68
@kana800 @Nibba2018 have you joined slack channel for this project.

[2020-10-22 09:17] #107 closed, assigned to Sapna2001

[2020-10-22 09:23] #29 closed, assigned to kritikaparmar-programmer

[2020-10-22 09:29] kana800 commented on #69
@HaripriyaB No worries 😄

[2020-10-22 09:34] #109 closed, assigned to nobody

[2020-10-22 09:35] tejan-singh commented on #108
Yes, now you can work on this. @kritikaparmar-programmer

[2020-10-22 09:36] #104 closed, assigned to kana800

[2020-10-22 09:37] kana800 commented on #68
No, do we need to?

[2020-10-22 09:40] tejan-singh commented on #102
yes please go ahead @Sapna2001

[2020-10-22 09:41] tejan-singh commented on #100
@Tejas1510 Go ahead!!

[2020-10-22 09:48] Nibba2018 commented on #68
@tejan-singh Nope, there wasn't anything mentioned

[2020-10-22 09:58] Ninjavin commented on #103
Hi @tejan-singh Please assign this to me.

[2020-10-22 11:11] yashaswibiyahut commented on #58
@TaniaMalhotra  did you registered for AOS2020?

[2020-10-22 11:14] kana800 commented on #99
can i work on this?

[2020-10-22 11:23] TaniaMalhotra commented on #58
yes I did

[2020-10-22 15:42] TaniaMalhotra commented on #58
@yashaswibiyahut @balapriyac I am sorry for accidentally closing the PR owing to a force push. I have reopened it again, please review 😀

[2020-10-22 15:43] HaripriyaB commented on #110
Hey @yashaswibiyahut @tejan-singh  I think the functionality of getting any instagram account(be it own or others account) followers/following is removed recently.
So I don't think there is a way to get the following accounts details. correct me if I'm wrong.

[2020-10-22 15:48] yashaswibiyahut commented on #99
@kana800  did you participate in AOS2020

[2020-10-22 15:49] TaniaMalhotra commented on #64
@yashaswibiyahut
I've created PRs for the two issues assigned to me
Can I start working on this issue?

[2020-10-22 15:51] yashaswibiyahut commented on #64
Firstly let them merge then after we will assign another issue yo you @TaniaMalhotra

[2020-10-22 15:51] Tejas1510 commented on #99
Can I work on this @yashaswibiyahut ?

[2020-10-22 15:56] kana800 commented on #99
@yashaswibiyahut  I registered for the event

[2020-10-22 16:15] #69 closed, assigned to HaripriyaB

[2020-10-22 16:44] Tejas1510 commented on #93
@balapriyac  i have created a PR can you please review it

[2020-10-22 16:47] tejan-singh commented on #110
Are you sure? Can you share the resource where did you get the news?

[2020-10-22 17:29] HaripriyaB commented on #110
As far as I browsed ...
https://developers.facebook.com/docs/instagram-api This is the official doc, where there is no mention of any endpoint for accessing followers or following info.

If you can help in finding a way to do this it would be great.

[2020-10-22 19:15] #80 closed, assigned to anut123

[2020-10-23 04:25] kana800 commented on #110
@HaripriyaB  I think Instagram close their API, Maybe you can try [selenium](https://selenium-python.readthedocs.io/). check out this [video](https://www.youtube.com/watch?v=d2GBO_QjRlo)

[2020-10-23 04:38] HaripriyaB commented on #110
This is cool. I can do this coz I have experience using selenium. Thanks for the help!!

[2020-10-23 07:33] tejan-singh commented on #99
@kana800 have you got the confirmation mail? have you joined the slack channel for the event??

[2020-10-23 07:54] Nibba2018 commented on #68
@tejan-singh  Hello?

[2020-10-23 07:55] kana800 commented on #99
@tejan-singh  No I didnt get a confirmation mail

[2020-10-23 08:09] tejan-singh opened #130 "AOS2020 Contribution Guidelines"
### Welcome to Autumn of Open Source 2020! 🤗 (Registrations still open)

**For participation, please visit** : https://aos.sanscript.tech/

**Here are some guidelines you need to follow for contributions.**

- Please **register** for the event to contribute and join our slack channel  **(_mandatory_)**. You will receive a confirmation mail and link for joining slack channel through the mail.
- Eac

[2020-10-23 12:57] tanweeralii commented on #101
Hey, I would like to work on this issue.

[2020-10-23 13:07] tejan-singh commented on #101
go ahead! @tanweeralii

[2020-10-23 13:16] tejan-singh commented on #99
@kana800 go through #130

[2020-10-23 13:27] tejan-singh commented on #68
please go through #130

[2020-10-23 14:00] #93 closed, assigned to Tejas1510

[2020-10-23 14:04] #87 closed, assigned to harshareddy794

[2020-10-23 14:07] #58 closed, assigned to TaniaMalhotra

[2020-10-23 14:14] #53 closed, assigned to Ninjavin

[2020-10-23 14:18] tejan-singh commented on #99
@Tejas1510 you can work on this.

[2020-10-23 14:23] tejan-singh commented on #64
you can now work on this @TaniaMalhotra

[2020-10-23 15:51] Nibba2018 commented on #130
Hello @tejan-singh , I have registered for the event, but I haven't received any email with the slack link. I have also checked my spam folder.

[2020-10-23 15:54] #67 closed, assigned to TaniaMalhotra

[2020-10-23 16:04] #100 closed, assigned to Tejas1510

[2020-10-23 16:09] tejan-singh commented on #130
@Nibba2018 mail your queries at help@sanscript.tech

[2020-10-23 18:28] #102 closed, assigned to Sapna2001

[2020-10-23 18:51] #97 closed, assigned to Namyalg

[2020-10-23 19:33] Nibba2018 commented on #68
Hi @tejan-singh , I have joined the slack channel can you now assign me this issue?

[2020-10-23 20:25] tejan-singh commented on #68
@Nibba2018 It's yours now!

[2020-10-23 21:15] Nibba2018 commented on #6
@tejan-singh , I would like to improve those github templates with proper Markdown syntax in mind. Currently they don't follow proper markdown syntax.

[2020-10-23 21:20] Nibba2018 commented on #48
Hi @yashaswibiyahut , could you be more specific like what kind of program are we talking of here? Is it the python script itself or are we trying to attach to a different process?

[2020-10-23 21:23] Nibba2018 commented on #98
@tejan-singh , I would like to work on this issue

[2020-10-24 05:56] TaniaMalhotra commented on #105
Can I take this up?
@tejan-singh

[2020-10-24 06:07] tejan-singh commented on #6
@Nibba2018 yes you can Work on this too

[2020-10-24 06:21] yashaswibiyahut commented on #48
Python Script to check how long the task is running.

[2020-10-24 07:59] sujal111 commented on #92
Please assign this issue to me. I would love to work on it.

[2020-10-24 07:59] sujal111 commented on #91
Please assign this issue to me. I would love to work on it

[2020-10-24 08:13] sujal111 commented on #10
Please assign me this issue

[2020-10-24 08:16] #64 closed, assigned to TaniaMalhotra

[2020-10-24 08:25] #15 closed, assigned to Namyalg

[2020-10-24 08:31] tejan-singh commented on #92
please follow contribution guidelines first.

[2020-10-24 08:38] sujal111 commented on #92
Yes , I am following it. According to that , I am supposed to comment over here so that the maintainer assigns me.

[2020-10-24 09:36] Nibba2018 commented on #48
@yashaswibiyahut , I am actually not clear which `task` we are talking about here. Can you give an example?

[2020-10-24 10:22] SANKET7738 commented on #10
@sujal111 mention the language you want to use and start working on it.

[2020-10-24 12:19] #68 closed, assigned to Nibba2018

[2020-10-24 13:09] tejan-singh commented on #92
You Also have to complete your GitHub profile. At least put your full name to confirm your participation

[2020-10-24 13:30] #110 closed, assigned to HaripriyaB

[2020-10-24 14:10] tejan-singh commented on #10
@sujal111 have you registered for the event? have you joined the slack channel?

[2020-10-24 14:46] balapriyac commented on #91
sure, I'm assigning, pls be sure to include all relevant details cited above

[2020-10-24 14:54] #105 closed, assigned to TaniaMalhotra

[2020-10-24 14:56] balapriyac commented on #92
I'm assigning it to you @sujal111

[2020-10-24 14:56] avnoor-488 commented on #108
@tejan-singh can i work upon this?

[2020-10-24 15:00] balapriyac commented on #91
@sujal111 just a small clarification required, could you pls confirm that you've already registered for AOS '20
Because we are unable to find you in the Slack channel assigned for this project

[2020-10-24 15:00] balapriyac commented on #92
@sujal111 just a small clarification required, could you pls confirm that you've already registered for AOS '20
Because we are unable to find you in the Slack channel assigned for this project

[2020-10-24 15:08] #14 closed, assigned to Nagasuruthika

[2020-10-24 15:14] sujal111 commented on #92
@balapriyac I have joined now.

[2020-10-24 15:15] sujal111 commented on #91
@balapriyac I have joined now.

[2020-10-24 15:19] balapriyac commented on #91
Thanks, pls be sure to follow the contribution guidelines going forward

[2020-10-24 15:20] balapriyac commented on #92
Thanks, pls be sure to follow the contribution guidelines going forward

[2020-10-24 15:40] Mishrasubha commented on #71
Can I work on it? I would start  working on it from 27th though.

[2020-10-24 15:43] balapriyac commented on #71
Sure, but once you're assigned an issue, you have 7 days to work on it and
after that it would be re-assigned.
So, pls plan accordingly when you want the issue to be assigned

On Sat, 24 Oct 2020, 9:10 pm Mishrasubha, <notifications@github.com> wrote:

[2020-10-24 16:01] Mishrasubha commented on #71
ok please assign it to me on 27th.

[2020-10-24 16:43] eternal-dreamer commented on #48
Can I work on this issue ?

[2020-10-24 17:41] eternal-dreamer commented on #10
Can I work on this issue using python?

[2020-10-24 18:26] #4 closed, assigned to ShruthiShriT

[2020-10-24 18:31] SANKET7738 opened #145 "Scrape Internship details from Internshala"
# Description
 A script to scrape internship details from Internshala.

## Requirements
 It should scrape
- Company Name
- Job Title/ Position
- Duration of the internship
- Stipend

[2020-10-24 18:36] SANKET7738 opened #146 "Invisible Cloak"
# Description

Write a script to implement Invisible Cloak from Harry Potter using OpenCV.

[2020-10-24 18:39] SANKET7738 opened #147 "WhatsApp Automation"
# Description

A script to automate WhatsApp messaging. you are free to add functionality and user options.

[2020-10-24 18:39] TaniaMalhotra commented on #146
Can I take this up ?

[2020-10-24 18:41] SANKET7738 commented on #146
Assigned to you @TaniaMalhotra

[2020-10-24 18:52] TaniaMalhotra commented on #147
Can I work on this too?

[2020-10-24 19:57] Tejas1510 commented on #145
Can I work on this @SANKET7738 ?

[2020-10-25 05:08] tejan-singh commented on #10
Yes sure

[2020-10-25 05:09] tejan-singh commented on #147
Go ahead ! @TaniaMalhotra

[2020-10-25 05:10] tejan-singh commented on #145
Yes please, its yours.

[2020-10-25 05:15] Tejas1510 commented on #99
@tejan-singh Sir I have raised a PR can you please look into it.

[2020-10-25 06:06] avnoor-488 commented on #33
can you please assign me it for c++?

[2020-10-25 08:01] balapriyac opened #150 "Implement K Nearest Neighbour Algorithm for Classification"
- Pls do not use sklearn

[2020-10-25 08:44] #98 closed, assigned to Nibba2018

[2020-10-25 08:55] #103 closed, assigned to Ninjavin

[2020-10-25 09:14] Nibba2018 commented on #24
@tejan-singh I would like to work on this.

[2020-10-25 09:15] Nibba2018 commented on #23
@tejan-singh I would like to work on this.

[2020-10-25 09:36] tejan-singh commented on #24
go for it @Nibba2018

[2020-10-25 09:37] tejan-singh commented on #23
you can work on this! @Nibba2018

[2020-10-25 11:18] japneetkaurbhatia commented on #150
Hello, Can I work on this issue ?

Does this issue is eligible for AOS2020 ?

[2020-10-25 11:23] kana800 commented on #9
can i work on this?

[2020-10-25 11:36] Ninjavin commented on #28
Hey @tejan-singh This sounds interesting. Please assign me.

[2020-10-25 12:44] sejalshri commented on #33
@balapriyac  I can implement it in C or Java.please assign.

[2020-10-25 12:57] muddhit commented on #33
@sejalshri its already assigned for java to me

[2020-10-25 12:57] muddhit commented on #33
please assign the java to me i will complete by tomorrow

[2020-10-25 12:59] muddhit commented on #33
i have still 1 day left according to the guidelines.Please re assign to me @tejan-singh

[2020-10-25 14:17] tejan-singh commented on #33
@Mukulbaid63 You can work on this issue. You have time till midnight.

[2020-10-25 14:19] tejan-singh commented on #33
@avnoor-488 I cannot find you in the slack group. Please go though the contribution guidelines once.

[2020-10-25 14:19] tejan-singh commented on #33
@sejalshri you can work in C

[2020-10-25 16:55] kana800 commented on #13
can i try this?

[2020-10-25 17:26] muddhit commented on #57
Can i work on Java on this issue?

[2020-10-25 17:31] muddhit commented on #33
I have submitted the PR, please mention required changes,if any.

[2020-10-25 21:27] muddhit commented on #56
Can i work on C or java on this issue?

[2020-10-25 21:29] muddhit commented on #106
I would like to work on this in Java

[2020-10-26 01:52] balapriyac commented on #56
Sure

On Mon, 26 Oct 2020, 2:57 am Muddhit Baid, <notifications@github.com> wrote:

[2020-10-26 02:21] tejan-singh commented on #106
Yes you can do it in java. @Mukulbaid63

[2020-10-26 02:23] tejan-singh commented on #13
@kana800 we are only considering PRs of participants only. Go through contribution guidelines

[2020-10-26 02:25] tejan-singh commented on #28
@Ninjavin go for it.

[2020-10-26 02:33] tejan-singh commented on #150
Yes you can work on this. Have you registered for event?

[2020-10-26 06:38] Nibba2018 commented on #56
@balapriyac This issue seems to be open so I would like to work on this.

[2020-10-26 07:57] japneetkaurbhatia commented on #150
Yes, I registered for the event and got mail yesterday.

[2020-10-26 09:30] #146 closed, assigned to TaniaMalhotra

[2020-10-26 09:30] #23 closed, assigned to Nibba2018

[2020-10-26 09:30] #24 closed, assigned to Nibba2018

[2020-10-26 09:30] #99 closed, assigned to Tejas1510

[2020-10-26 09:36] #44 closed, assigned to srimani-programmer

[2020-10-26 09:37] tejan-singh commented on #150
Have you joined slack channel?

[2020-10-26 09:39] Nibba2018 commented on #52
@Nagasuruthika Are you working on this? If not then I would like to take this up.

[2020-10-26 10:15] Ninjavin commented on #27
Hey @yashaswibiyahut Please assign me!

[2020-10-26 10:36] Nibba2018 commented on #106
@tejan-singh I would like to work on this issue if it goes stale.

[2020-10-26 10:39] Nibba2018 commented on #52
@tejan-singh I would like to take this up if it goes stale.

[2020-10-26 10:44] Nagasuruthika commented on #52
@Nibba2018 I'm on it. Should be done  by EOD

[2020-10-26 10:50] Nibba2018 commented on #52
Okay @Nagasuruthika

[2020-10-26 11:00] Namyalg opened #160 "Telegram Automation"
**Is your feature request related to a problem? Please describe.**
With this script, messages can automatically be sent on Telegram from the Command Line

**Describe the solution you'd like**
Using the Selenium module with Python, this task can be automated

[2020-10-26 11:01] yashaswibiyahut commented on #49
yes you can.
go for it 👍

[2020-10-26 11:16] harshareddy794 commented on #160
Can I work on this?

[2020-10-26 11:20] Namyalg commented on #160
I have raised this issue and would like to work on it @tejan-singh

[2020-10-26 11:32] japneetkaurbhatia commented on #150
Yes

[2020-10-26 11:34] japneetkaurbhatia commented on #150
During registration, I registered for women safely ML+app project , but i couldn't find any ML issue there so i want to contribute here.

[2020-10-26 11:50] ankitapuri commented on #150
Can I work on this issue

[2020-10-26 12:16] tejan-singh commented on #160
Great! Go for it @Namyalg

[2020-10-26 12:17] tejan-singh commented on #27
@Ninjavin go for it.

[2020-10-26 12:23] tejan-singh commented on #150
@japneetbhatia you have not joined slack channel. Its mandatory.

[2020-10-26 12:24] tejan-singh commented on #150
@ankitapuri its yours.

[2020-10-26 12:46] yashaswibiyahut commented on #48
Execution time of  task.
You can use time function of time module.

[2020-10-26 13:06] japneetkaurbhatia commented on #150
Sir, I already joined that, even you replied to my queries yesterday

[2020-10-26 13:13] Nibba2018 commented on #48
@yashaswibiyahut Ok I would like to work on this.

[2020-10-26 15:14] Mishrasubha commented on #71
Assign this to me please.

[2020-10-26 15:28] balapriyac commented on #71
Sure!

On Mon, 26 Oct 2020, 8:44 pm Mishrasubha, <notifications@github.com> wrote:

[2020-10-26 16:29] anut123 commented on #150
Can I work on this issue???

[2020-10-26 17:02] japneetkaurbhatia commented on #71
Hey, Assign this to me

[2020-10-26 21:09] #106 closed, assigned to Namyalg, muddhit

[2020-10-26 21:09] #60 closed, assigned to harshareddy794

[2020-10-26 21:16] tejan-singh commented on #150
@japneetbhatia please ping me on slack so that I can confirm you.

[2020-10-26 21:17] tejan-singh commented on #150
@anut123 complete your GitHub profile. Read guidelines again.

[2020-10-27 03:43] harshareddy794 opened #164 "Instagram scraper"
**Is your feature request related to a problem? Please describe.**

Getting the number of followers and number of posts of a person

**Describe the solution you'd like**

By using urllib and beautiful soup libraries in python

**Describe alternatives you've considered**

**Additional context**

[2020-10-27 03:44] harshareddy794 commented on #164
I want to work on this issue please assign me

[2020-10-27 05:32] TaniaMalhotra opened #165 "Twitter automation"
**Is your feature request related to a problem? Please describe.**
I'd like to work on a Twitter script that can automatically **like** and **retweet** tweets containing **user-specified keywords**
at a specific time interval

**Describe the solution you'd like**
This bot uses the Tweepy stream to actively watch for tweets that contain certain keywords. For each tweet, if you’re not the tweet auth

[2020-10-27 05:33] TaniaMalhotra commented on #165
Pl assign this to me

[2020-10-27 06:55] yashaswibiyahut opened #166 "Counting days"
**Describe the solution you'd like**
Script for counting how many days there is left for any given date(birthday).

[2020-10-27 07:04] Nibba2018 commented on #166
@yashaswibiyahut I would like to work on this.

[2020-10-27 07:32] Sapna2001 commented on #166
Can I work on this?

[2020-10-27 07:33] Sapna2001 commented on #166
@yashaswibiyahut can I do this in JavaScript?

[2020-10-27 08:52] sanjibansg commented on #49
Initial PR made, do kindly review @yashaswibiyahut

[2020-10-27 13:44] kritikaparmar-programmer commented on #32
Do we have to scrape just a single website like Udemy? @balapriyac

[2020-10-27 13:44] kritikaparmar-programmer commented on #150
I want to work on this @tejan-singh

[2020-10-27 13:49] balapriyac commented on #32
Hi, yes, if your script can scrape a particular platform like
Coursera,edx,Udemy, Udacity etc (whichever you like best) it'll be fine.

However the url is a variable and the script should be generic in that we
should be able to get course details from any e learning platform

On Tue, 27 Oct 2020, 7:14 pm Kritika Parmar, <notifications@github.com>
wrote:

[2020-10-27 17:28] NEEHITGOYAL opened #169 "Circle Centroid and Radius detector in a image"
**Is your feature request related to a problem? Please describe.**
how to detect a circle in a image and then its radius and also the coordinates of center and not only single if multiple circles are present it will detect them also

**Describe the solution you'd like**
using open cv and numpy library i ll detect.

**Describe alternatives you've considered**

**Additional context**

[2020-10-27 17:28] NEEHITGOYAL commented on #169
please assign it to me

[2020-10-27 19:07] SANKET7738 commented on #166
@Sapna2001 go-ahead

[2020-10-27 20:15] muddhit commented on #56
@yashaswibiyahut please assign me on this java

[2020-10-28 05:26] yashaswibiyahut commented on #56
@Nibba2018 grab it.
@Mukulbaid63 FCFS.

[2020-10-28 06:11] Tejas1510 opened #174 "Certificate Generation Script"
**Is your feature request related to a problem? Please describe.**
Generating a ton of certificates for any occasion is quite tedious if you're not familiar with the concept of automation. Well, you won't have to worry anymore because this script will do all the heavy lifting for you.

**Describe the solution you'd like**
I wish to generate a python script that will take a input file as all the na

[2020-10-28 06:49] TaniaMalhotra commented on #48
@yashaswibiyahut @tejan-singh
Can I write a C++ script for the same?

[2020-10-28 07:42] muddhit commented on #56
@yashaswibiyahut i had commented 2 days ago,and i got a reply from @balapriyac but didn't got assigned,so i was the first one to ask

[2020-10-28 10:24] muddhit commented on #56
Please assign me to Java for this issue as @Nibba2018  has done for python

[2020-10-28 13:22] tejan-singh commented on #174
Great! Go ahead

[2020-10-28 13:55] tejan-singh commented on #150
@kritikaparmar-programmer you can work on this but in differnet language if possibl.e

[2020-10-28 14:03] balapriyac opened #177 "Implement PCA"
- Significance of PCA in Dimensionality Reduction
- Explain the working of the algo
- Use NumPy and scipy linalg module for eigen decomposition of matrices, do not use in-built functions
- Choose a simple dataset
- Pls make sure to visualize the principal components

[2020-10-28 14:05] balapriyac opened #178 "K Means Clustering for Image Compression"
-  Implement K Means Clustering to compress image
-  pls include visualization of original colour space and reduced dimension colour space after compression

[2020-10-28 14:27] #164 closed, assigned to harshareddy794

[2020-10-28 16:04] tejan-singh opened #179 "to Crack Zip File Passwords"
- use wordlist as input to crack zip file password
- hint:  use tqdm

[2020-10-28 16:14] tejan-singh opened #180 "to use Steganography to Hide Secret Data in Images in Python"
- inputs required include an image, a message to encode, and function to perform.
- key generation function can be implemented inside main file.
- key should be generated in seperate file which can be used to decode image.
- you also need to generate key to encode and decode message.
- hint: use opencv

[2020-10-28 16:15] tejan-singh opened #181 "to find out all subdomains of a website."

[2020-10-28 16:17] tejan-singh opened #182 "to crack pdf file password"
- use wordlist as input to crack passwords.
- hint: use pikepdf, tqdm

[2020-10-28 16:18] tejan-singh opened #183 "to solve a very simple algebra using sympy module"
hint: use sympy

[2020-10-28 16:21] tejan-singh opened #184 "a simple AI chatbot / interactive agent which conducts conversations."
hint:use aiml module

[2020-10-28 16:23] tejan-singh opened #185 "to get the current price of bitcoin"

[2020-10-28 16:25] tejan-singh opened #186 "script to generate checksums from md5, sha1, sha224, sha256, sha384, and sha512 for a file"
hint: use os sys hmac base64 hashlib argparse

[2020-10-28 16:30] tejan-singh opened #187 "A simple script to submit you code on [https://www.codechef.com] using selenium."

[2020-10-28 16:32] tejan-singh opened #188 "A simple python script to convert coloured image to black- white / greyscale image."

[2020-10-28 16:54] Tejas1510 commented on #188
Can i work on this ?

[2020-10-28 17:03] Nibba2018 commented on #186
Hi @tejan-singh , I would like to work on this.

[2020-10-28 17:04] Nibba2018 commented on #186
Also how was your exam? :smile:

[2020-10-28 17:04] Nibba2018 commented on #180
@tejan-singh I would like to work on this.

[2020-10-28 18:17] Sapna2001 commented on #184
Can I work on this?

[2020-10-28 18:36] TaniaMalhotra commented on #185
I would like to take this up

[2020-10-28 18:46] tejan-singh commented on #185
@TaniaMalhotra Go for it.

[2020-10-28 18:49] tejan-singh commented on #188
Yes you can. @Tejas1510

[2020-10-28 18:49] tejan-singh commented on #186
Go for it. @Nibba2018

[2020-10-28 18:52] tejan-singh commented on #184
Go for it @Sapna2001

[2020-10-28 18:54] tejan-singh commented on #186
@Nibba2018 i found you have already 2 assigned issues. I am assigning you from this.

[2020-10-28 19:27] Nibba2018 commented on #186
@tejan-singh I have already solved the issues that were assigned to me.

[2020-10-28 19:38] #145 closed, assigned to Tejas1510

[2020-10-28 19:55] HaripriyaB commented on #179
Can I take this up?

[2020-10-28 19:57] HaripriyaB commented on #187
I Would like to take this up..

[2020-10-28 20:13] #165 closed, assigned to TaniaMalhotra

[2020-10-28 20:20] #185 closed, assigned to TaniaMalhotra

[2020-10-28 20:23] tejan-singh commented on #187
yes please go ahead! @HaripriyaB

[2020-10-28 20:23] tejan-singh commented on #188
now you can work on this. @Tejas1510

[2020-10-28 20:26] tejan-singh commented on #186
okey, let me check.

[2020-10-28 20:28] tejan-singh commented on #186
@Nibba2018  okey,  you can work on this.

[2020-10-28 20:29] tejan-singh commented on #179
Go ahead! @HaripriyaB

[2020-10-28 20:30] tejan-singh commented on #180
Yes, go ahead. @Nibba2018

[2020-10-28 20:34] tejan-singh commented on #48
yes, you can do the same in C++.

[2020-10-28 20:38] tejan-singh commented on #9
@kana800 If you like to contribute then you can but I will not assign you this assignment. But yes, I will accept your PR if you follow contribution guidelines.

[2020-10-28 20:41] tejan-singh commented on #13
@kana800 you can work and contribute to this issue. But your work will not be scored as you are not a participant.

[2020-10-28 20:42] #33 closed, assigned to muddhit

[2020-10-28 20:43] tejan-singh commented on #56
@Mukulbaid63 you can work in Java.

[2020-10-28 20:45] tejan-singh commented on #57
@Mukulbaid63 you can work in java.

[2020-10-28 20:47] tejan-singh commented on #71
@japneetbhatia which language you like to work on?

[2020-10-29 04:01] TaniaMalhotra commented on #181
Can I take this up?

[2020-10-29 05:09] harshareddy794 commented on #182
@tejan-singh  can I work on it

[2020-10-29 06:46] kritikaparmar-programmer commented on #183
Hey @tejan-singh I want to work on this

[2020-10-29 06:47] kritikaparmar-programmer commented on #178
Hey @balapriyac I want to work on this issue

[2020-10-29 07:49] japneetkaurbhatia commented on #55
Please assign this to me. I can solve this in C++ and python.

[2020-10-29 09:20] yashaswibiyahut commented on #178
@kritikaparmar-programmer I have already assigned issues to you. Please complete them first then you can work on more.

[2020-10-29 09:49] Nibba2018 commented on #186
@tejan-singh done.

[2020-10-29 12:45] #188 closed, assigned to Tejas1510

[2020-10-29 12:47] #27 closed, assigned to Ninjavin

[2020-10-29 12:48] tanweeralii commented on #101
Can I use web scrapping?

[2020-10-29 12:51] #57 closed, assigned to muddhit

[2020-10-29 15:02] #186 closed, assigned to Nibba2018

[2020-10-29 15:46] #181 closed, assigned to TaniaMalhotra

[2020-10-29 15:58] tejan-singh opened #202 "a simple YouTube video Downloader"
- you can implement this in different languages. Comment down the language you want to work in.

[2020-10-29 16:01] TaniaMalhotra commented on #202
Can I work in python?

[2020-10-29 16:02] TaniaMalhotra commented on #166
Can I work on this in C++? @yashaswibiyahut @tejan-singh

[2020-10-29 16:03] tejan-singh commented on #202
yes please! @TaniaMalhotra

[2020-10-29 16:05] Ninjavin commented on #202
Please assign me for NodeJS

[2020-10-29 16:12] tejan-singh opened #203 "Create GUI for Downloading Youtube Video"
- comment down the language you want to work in.
- please do not try to copy code from online resources.

[2020-10-29 16:13] tejan-singh commented on #183
@kritikaparmar-programmer  you can work on this.

[2020-10-29 16:29] kuldip11 commented on #203
I would like to work on this issue in python. Can I ?

[2020-10-29 16:32] kuldip11 commented on #56
I would like to work on this issue in python. Can I?

[2020-10-29 16:47] tejan-singh commented on #203
@kuldip11 Go for it.

[2020-10-29 16:48] #52 closed, assigned to Nagasuruthika

[2020-10-29 16:53] muddhit commented on #55
Please assign it to me in java @yashaswibiyahut @tejan-singh @balapriyac

[2020-10-29 16:58] kuldip11 commented on #48
I would like to work on this one in python.  Can I?

[2020-10-29 17:16] Tejas1510 opened #205 "Fetch Current Weather using WeatherMapApi"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I wish to use weathermapApi for fetching the current weather and will make a frontend gui in python with the help of tkinter to take input as the city and display the final output

**Describe alternatives you've considered**

**Additional context**

[2020-10-29 17:27] tejan-singh commented on #205
Very nice, Go for it.

[2020-10-29 19:10] muddhit commented on #101
Can i work on this issue as it seems unsolved ?

[2020-10-29 19:11] tanweeralii commented on #101
I am going to do pr right now. Sorry

[2020-10-29 19:12] tanweeralii commented on #101
Script is complete

[2020-10-29 19:22] muddhit commented on #101
in which language are you working on ? @tanweeralii

[2020-10-29 19:23] tanweeralii commented on #101
Python

[2020-10-29 20:33] Namyalg opened #209 "Medium article scrapper"
**Is your feature request related to a problem? Please describe.**
A script to download a Medium Article given the URL

**Describe the solution you'd like**
Using Beautiful Soup and Requests, this can be implemented

[2020-10-29 20:33] Namyalg commented on #209
I will work on this, please assign me the same

[2020-10-30 09:19] Tejas1510 commented on #202
Can i work on it?

[2020-10-30 09:21] Tejas1510 commented on #166
Can I work on this using HTML,css, and Javascript creating a mini website @yashaswibiyahut @SANKET7738

[2020-10-31 05:58] NEEHITGOYAL opened #213 "shape detection with color,area ,centroid"
**Is your feature request related to a problem? Please describe.**
How to detect different shapes not only identify but also tell about its color,area,centroid and not only a single shapes what if multiple shapes present
**Describe the solution you'd like**

using image processing opencv library in python i can detect
**Describe alternatives you've considered**

**Additional context**

[2020-10-31 05:59] NEEHITGOYAL commented on #213
can i work on this issue please assign it to me

[2020-10-31 12:31] #101 closed, assigned to tanweeralii

[2020-10-31 12:31] #179 closed, assigned to HaripriyaB

[2020-10-31 12:31] #174 closed, assigned to Tejas1510

[2020-10-31 12:46] #205 closed, assigned to Tejas1510

[2020-10-31 13:22] Tejas1510 commented on #205
@tejan-singh can I work on it again making the complete code from scratch

[2020-10-31 14:15] tejan-singh commented on #202
@Ninjavin yes you can work in NodeJs

[2020-10-31 14:16] tejan-singh commented on #202
@Tejas1510 in which language you want to work in ?

[2020-10-31 14:17] tejan-singh commented on #205
This issue is now invalid. This cannot be assigned to you again.

[2020-10-31 14:18] tejan-singh commented on #166
@Tejas1510 you can work on this.

[2020-10-31 14:20] tejan-singh commented on #55
@japneetbhatia you can work in python

[2020-10-31 14:21] tejan-singh commented on #55
@Mukulbaid63 you can work in java

[2020-10-31 14:25] tejan-singh commented on #48
@kuldip11 issue has been submitted for python. You can work in C, java or javascript

[2020-10-31 14:26] tejan-singh commented on #56
@kuldip11 already submitted for python. Try other languages.

[2020-10-31 14:55] muddhit commented on #55
@tejan-singh  you haven't assigned me it yet.

[2020-10-31 15:27] Nagasuruthika commented on #178
I'd like to take this up @yashaswibiyahut @balapriyac

[2020-10-31 15:47] tejan-singh commented on #55
@Mukulbaid63 when I comment and mention you that means you are assigned and work on this okey.

[2020-10-31 17:45] #209 closed, assigned to Namyalg

[2020-10-31 17:49] tejan-singh opened #215 "script to Extract Image Metadata"

[2020-10-31 17:56] tejan-singh opened #216 "to retrieves the size of the repository and the number of contributors the repo has"
hint: use github api

[2020-10-31 17:57] tejan-singh opened #217 "instagram profile pic downloader"

[2020-10-31 18:00] Namyalg commented on #217
I would like to work on this

[2020-10-31 18:01] tejan-singh opened #218 "News Voice assistant to listen to your favourite news"
use https://newsapi.org/register

[2020-10-31 18:03] tejan-singh opened #219 "a pdf watermark generator"
hint: use pyPDF

[2020-10-31 18:04] tejan-singh commented on #217
yes go for it. @Namyalg

[2020-10-31 18:07] tejan-singh opened #220 "Find and write all your saved wifi passwords in a txt file"

[2020-10-31 18:09] tejan-singh opened #221 "a simple screen recorder for pc using CV2"

[2020-10-31 18:25] Ninjavin commented on #220
Hey @tejan-singh Can I take this issue for Python?

[2020-10-31 18:41] TaniaMalhotra commented on #221
Can I take this?

[2020-10-31 18:42] TaniaMalhotra commented on #218
Can I take this up?

[2020-10-31 19:23] Namyalg commented on #216
I would like to take work on this in Python

[2020-10-31 19:59] muddhit commented on #55
okay .

[2020-10-31 21:33] #160 closed, assigned to Namyalg

[2020-10-31 21:34] tejan-singh commented on #216
yes you can work on this issue @Namyalg

[2020-10-31 21:36] #28 closed, assigned to Ninjavin

[2020-10-31 21:36] tejan-singh commented on #220
go for it! @Ninjavin

[2020-10-31 21:38] #147 closed, assigned to TaniaMalhotra

[2020-10-31 21:39] tejan-singh commented on #221
yes, go for it! @TaniaMalhotra

[2020-10-31 21:39] tejan-singh commented on #218
yes, go for it! @TaniaMalhotra

[2020-10-31 21:42] #180 closed, assigned to Nibba2018

[2020-10-31 21:52] tejan-singh commented on #178
yes, go for it! @Nagasuruthika

[2020-11-01 01:54] HaripriyaB commented on #215
Can I take this up?

[2020-11-01 05:18] sejalshri commented on #219
i would like to work on this issue.please assign.

[2020-11-01 07:43] tejan-singh commented on #215
Yes sure, go for it @HaripriyaB

[2020-11-01 07:44] tejan-singh commented on #219
Yes, you can work on this issue @sejalshri

[2020-11-01 13:59] #108 closed, assigned to kritikaparmar-programmer

[2020-11-01 15:04] kritikaparmar-programmer commented on #10
Is someone working on this issue? @eternal-dreamer ?

[2020-11-01 15:06] kritikaparmar-programmer commented on #177
Hey, @balapriyac I want to work on this! And Please add a difficulty label for the specification.

[2020-11-01 15:12] balapriyac commented on #177
@kritikaparmar-programmer Done! You may start working on it. 🙂

[2020-11-01 16:08] eternal-dreamer commented on #10
No , I am not working on this issue now.

[2020-11-01 16:10] muddhit opened #226 "Floyd's cycle detection Algorithm and its relevance in cryptography"
### Floyd's cycle detection Algorithm and its relevance in cryptography
-Implemenation
-Relevance in Cryptography

[2020-11-01 16:10] muddhit commented on #226
Can i work on it in java?if yes please assign me.

[2020-11-02 05:12] kana800 commented on #9
@tejan-singh no one seems to be working on this, maybe because it has the **assigned** tag still.  I will create a simple port scanner and send a PR.

Thanks!

[2020-11-02 06:21] yashaswibiyahut commented on #226
Go for it @Mukulbaid63

[2020-11-02 06:43] pallavithakare28 commented on #130
Hey @tejan-singh, I have updated some changes. Please have a look.

[2020-11-02 06:57] Nibba2018 commented on #48
@tejan-singh , I would like to work on this in C.

[2020-11-02 07:40] yashaswibiyahut commented on #48
Go for it @Nibba2018

[2020-11-02 08:20] sejalshri commented on #66
@tejan-singh i would like to work on this.

[2020-11-02 09:26] Nibba2018 commented on #220
@tejan-singh I would like to work on this in C

[2020-11-02 11:09] tejan-singh commented on #220
@Nibba2018  you can start working in C

[2020-11-02 11:10] tejan-singh commented on #66
@sejalshri go for it.

[2020-11-02 11:16] TaniaMalhotra commented on #218
@tejan-singh I've written a python script in my current PR
Can I also work on the same issue in node js?

[2020-11-02 12:15] Tejas1510 commented on #32
Can i work on this? @yashaswibiyahut @balapriyac

[2020-11-02 12:54] #218 closed, assigned to TaniaMalhotra

[2020-11-02 12:59] Tejas1510 commented on #202
can I make it in python? @tejan-singh

[2020-11-02 15:51] tejan-singh commented on #202
@Tejas1510 It has been submitted for python.

[2020-11-02 15:53] tejan-singh commented on #218
@TaniaMalhotra you can work in NodeJS.

[2020-11-02 16:21] japneetkaurbhatia commented on #71
@tejan-singh Python

[2020-11-02 16:21] Tejas1510 opened #235 "CodeChef Scrapper"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I wish to create a codechef scrapper that will fetch details about the recent codechef contest.

**Describe alternatives you've considered**

**Additional context**

[2020-11-02 16:27] TaniaMalhotra commented on #10
@yashaswibiyahut
Can I take it if it's unassigned?
Would like to do it in python

[2020-11-02 16:38] tejan-singh commented on #235
Please try other topics other than scrapping or automation. We have already created many of these kinds of issues.

[2020-11-02 16:39] Tejas1510 commented on #235
@tejan-singh Sir Sure i will try to think of some other topic

[2020-11-02 16:46] Tejas1510 opened #236 "Text_Speech"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A python code to convert the given text to corresponding .mp3 file using  gTTS, pytesseract ,module

**Describe alternatives you've considered**

**Additional context**

[2020-11-02 16:49] #235 closed, assigned to nobody

[2020-11-02 16:49] tejan-singh commented on #236
this is good.

[2020-11-02 17:10] #55 closed, assigned to japneetkaurbhatia

[2020-11-02 17:10] #56 closed, assigned to muddhit

[2020-11-02 17:12] tejan-singh commented on #10
@kritikaparmar-programmer in which language you would like to work?

[2020-11-02 17:13] tejan-singh commented on #32
@Tejas1510 you can work on this issue.

[2020-11-02 17:14] HaripriyaB commented on #10
Can I take this if it's unassigned? I'd like to do it in **java**

[2020-11-02 17:15] tejan-singh commented on #10
@HaripriyaB  you can work in java

[2020-11-02 17:25] #49 closed, assigned to sanjibansg

[2020-11-02 17:27] tejan-singh commented on #10
@TaniaMalhotra  You can work in python

[2020-11-02 17:29] #187 closed, assigned to HaripriyaB

[2020-11-02 17:29] Coderangshu commented on #94
Can I work on this issue?

[2020-11-02 18:59] Ninjavin commented on #165
Hey @tejan-singh @yashaswibiyahut Can I work on this issue in NodeJS?

[2020-11-02 19:08] Nibba2018 commented on #9
@tejan-singh , I would like to work on this if it's open.

[2020-11-02 21:22] muddhit commented on #6
please assign me ,i want to add a attractive cover to the readme. @tejan-singh

[2020-11-03 08:15] sharur7 opened #239 "Convert Image to Sketch"
**Is your feature request related to a problem? Please describe.**

To convert the original image into a black and white sketched image

**Describe the solution you'd like**

OpenCV libraries can be used to convert a normal image into a black and white sketched image

**Describe alternatives you've considered**

**Additional context**

The code will be written in Python

I would like to work on th

[2020-11-03 08:31] Ninjavin commented on #205
Hey @tejan-singh Can I work on this issue in NodeJS or is the issue completely invalid now?

[2020-11-03 08:43] Ninjavin commented on #10
Hey @tejan-singh Can I work on this issue in NodeJS?

[2020-11-03 10:34] japneetkaurbhatia commented on #91
Can I work on this using python ?

[2020-11-03 10:48] HaripriyaB commented on #10
I'm not able to get the api to fetch product details... does anyone know which endpoint to be used?

[2020-11-03 11:06] japneetkaurbhatia commented on #48
I would like to work on this in java

[2020-11-03 12:14] balapriyac opened #243 "Time to put together clusters! Experiment with AgglomerativeClustering and Spectral Clustering"
- Include pseudocode of algorithm as well in README file

[2020-11-03 12:15] balapriyac opened #244 "Experiment with DBSCAN on a suitable dataset"
-  When are density based clustering approaches more relevant?
- Give a practical use case of DBSCAN

[2020-11-03 12:19] balapriyac opened #245 "Geospatial Data Analysis"
- Use Geospatial dataset from kaggle/ML repositories (restrict to shapefile,GeoJSON files)
- Identify the libraries for geospatial analysis and visualization
- Perform EDA
- Present your understanding
- Include all visualizations in README

[2020-11-03 14:16] kuldip11 commented on #239
Can i work on this issue?

[2020-11-03 15:47] #236 closed, assigned to Tejas1510

[2020-11-03 16:21] Tejas1510 commented on #244
Can i work on this?
I was having a doubt that we need to give only answer to the above question in the readme file

[2020-11-03 16:38] TaniaMalhotra commented on #10
Same here @HaripriyaB
I did find [this](https://rapidapi.com/axesso/api/axesso-amazon-data-service1) one but it seems to be paid

[2020-11-03 16:48] Tejas1510 opened #247 "Internet Connection Checker"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A python program to check if your system has an internet connection using socket and time module in python

**Describe alternatives you've considered**

**Additional context**

[2020-11-03 16:49] HaripriyaB commented on #10
One way is to use selenium automation. That will be almost similar in all the languages. @tejan-singh pls give your suggestion

[2020-11-03 17:05] balapriyac commented on #244
Hi
You should also make sure to answer these questions as well

On Tue, Nov 3, 2020 at 9:51 PM Tejas1510 <notifications@github.com> wrote:

[2020-11-03 17:06] pallavithakare28 commented on #21
Hey @yashaswibiyahut, I would like to give a try for this issue if this issue is still open.

[2020-11-03 17:39] sravani-7701 commented on #244
Hey I would like to work on this issue. But please tell me just we have to describe about DBSCAN right ?

[2020-11-03 17:41] balapriyac commented on #244
Yes,identify correct use cases as to when you'd need such clustering
approach

Also, pls be sure to choose such a dataset

On Tue, 3 Nov 2020, 11:09 pm sravani-7701, <notifications@github.com> wrote:

[2020-11-04 12:13] TaniaMalhotra commented on #10
The one I mentioned above ([https://rapidapi.com/axesso/api/axesso-amazon-data-service1](this)) does have a freemium too but requires me to enter the credit card number.
If it's possible for maintainers to get their own key during testing, I can proceed with this api.

[2020-11-04 12:15] yashaswibiyahut commented on #21
Grab it @pallavithakare28

[2020-11-04 13:08] tejan-singh commented on #247
This issue has already been submitted

[2020-11-04 13:09] #247 closed, assigned to nobody

[2020-11-04 13:20] Tejas1510 commented on #247
Ok @tejan-singh
will try to work on some other issue

[2020-11-04 13:25] #183 closed, assigned to kritikaparmar-programmer

[2020-11-04 13:26] Tejas1510 opened #250 "Morse Code Converter"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I wish to learn encryption and decryption so as to implement the solution, the code may text words as input and convert it corresponding morse code while the reverse is also true

**Describe alternatives you've considered**

**Additional context**

[2020-11-04 13:40] tejan-singh commented on #10
@TaniaMalhotra @HaripriyaB you can use BeautifulSoup

[2020-11-04 13:41] tejan-singh commented on #10
@Ninjavin you can work in NodeJS

[2020-11-04 14:34] SANKET7738 commented on #250
Mention the language

[2020-11-04 14:41] Tejas1510 commented on #250
@SANKET7738 Sir i would do it in python

[2020-11-04 15:31] tejan-singh commented on #10
@HaripriyaB if you cannot find other way, then you can solve it with selenium.

[2020-11-04 16:13] pallavithakare28 commented on #21
@yashaswibiyahut Thank you for assigning. :)
I'll make a PR soon.

[2020-11-04 16:15] SANKET7738 commented on #250
Assigned to you @Tejas1510

[2020-11-04 16:50] harshareddy794 commented on #182
@yashaswibiyahut @tejan-singh  I could not able to know how to do this. Please unassign me this will be helpful for some other participants

[2020-11-04 17:09] tejan-singh commented on #166
@TaniaMalhotra you can work on this issue.

[2020-11-04 17:19] muddhit opened #252 "GUI to send email automatically"
-Automated script to send an email.
-Working in a readme file

[2020-11-04 17:19] tejan-singh opened #253 "to find the devices (mobiles and computers) connected to my wifi"
hint: use nmap module

[2020-11-04 17:20] kuldip11 commented on #252
Can i work on this issue in python?

[2020-11-04 17:23] tejan-singh opened #255 "scan the current directory and all subdirectories and display the size"

[2020-11-04 17:25] tejan-singh opened #256 "to count number of files and sub directories in a directory"
output can be like:

Number of files:
Number of Directories:
Total:

[2020-11-04 17:27] Mukulbaid63 commented on #252
Yes kuldip you can go for it, i have no issues,let's wait reply of @tejan-singh

[2020-11-04 17:29] tejan-singh opened #257 "add watermark to a video with the given font."
use openCV

[2020-11-04 17:32] kuldip11 commented on #257
Assigned me for python

[2020-11-04 17:33] tejan-singh opened #258 "to get weather details for current city which include temperature,weather and windspeed."
hint: use api.openweathermap.org

[2020-11-04 17:34] Tejas1510 commented on #256
@tejan-singh can I work on this

[2020-11-04 17:35] muddhit commented on #258
I want to work on it in Javascript.Plz assign me @tejan-singh

[2020-11-04 17:39] Tejas1510 commented on #258
@tejan-singh can i go for it
This time the complete code will be prepare from scratch and wish to make a small website using HTML,css and javascript fetching the data from the provided api

[2020-11-04 17:41] tejan-singh opened #259 "download and save a webpage as pdf"
hint: use argparse, pyppdf, re, pyppeteer

[2020-11-04 17:42] muddhit commented on #258
I am also going to same thing,that's why i requested @tejan-singh to assign me for javascript. FCFS.

[2020-11-04 17:43] kuldip11 commented on #259
Assign me for python

[2020-11-04 17:44] #252 closed, assigned to nobody

[2020-11-04 17:45] Ninjavin commented on #259
Can you assign me? I can do this in NodeJS @tejan-singh

[2020-11-04 17:46] Tejas1510 commented on #258
Ok @Mukulbaid63
if Sir allows both of us to do in javascript then we may prepare our separate code which will have a different UI and look or I will go in python then
No worries
Happy Coding

[2020-11-04 17:48] Ninjavin commented on #258
Can you assign me? I can do this in Python @tejan-singh

[2020-11-04 17:50] tejan-singh commented on #256
@Tejas1510 you have already 2 assigned issues

[2020-11-04 17:51] tejan-singh commented on #257
@kuldip11 you can work on this issue.

[2020-11-04 17:51] #203 closed, assigned to kuldip11

[2020-11-04 17:52] tejan-singh commented on #258
@Mukulbaid63 you can work in JavaScript

[2020-11-04 17:53] tejan-singh commented on #258
@Ninjavin you can work in python

[2020-11-04 17:53] Tejas1510 commented on #256
No Sir i have only one issue assigned
For other t have created a pull request
So I have only one issue one I am finding it somewhat hard to code for it
Can you please assign me
I want to do in Java
@tejan-singh Sir

[2020-11-04 17:57] tejan-singh commented on #259
@kuldip11 you can work in python.

[2020-11-04 17:57] tejan-singh commented on #259
@Ninjavin actually you already have 2 assigned issues.

[2020-11-04 17:57] Ninjavin commented on #259
@tejan-singh Yeah I saw that right now. No problem.

[2020-11-04 18:00] tejan-singh commented on #258
@Tejas1510 I can only assign one person to work on one language only.

[2020-11-04 18:01] Tejas1510 commented on #258
ok @tejan-singh Sir

[2020-11-04 18:11] Tejas1510 commented on #32
@tejan-singh can i please unassigned me
I tried making the code but the selected website is not responding correctly while scrapping
Thank you

[2020-11-04 19:15] Ninjavin commented on #259
Hey @tejan-singh I have solved one of the issues and submitted a PR. So if you want you can assign this to me :)

[2020-11-04 19:52] Nibba2018 commented on #258
@tejan-singh I would like to work on this in C

[2020-11-05 03:00] Tejas1510 commented on #253
@tejan-singh I want to work in python
Can I go for it ?

[2020-11-05 05:32] TaniaMalhotra commented on #258
Would like to work in c++

[2020-11-05 05:59] Sapna2001 commented on #255
Can I work on this?

[2020-11-05 06:46] tejan-singh commented on #250
@Tejas1510 you can work in java

[2020-11-05 07:11] anut123 commented on #256
Can I work on this issue in python?

[2020-11-05 07:26] anut123 commented on #253
Can I work on this issue in python?

[2020-11-05 07:59] Tejas1510 commented on #250
@tejan-singh Sir i have already generated a PR for it and my pull request got merged
I ask you to assign me java on the issue #256

[2020-11-05 08:33] #250 closed, assigned to nobody

[2020-11-05 09:56] tejan-singh commented on #258
@Nibba2018 go ahead

[2020-11-05 09:56] tejan-singh commented on #258
@TaniaMalhotra  go ahead

[2020-11-05 09:59] tejan-singh commented on #256
@anut123 yes you can work on this in python

[2020-11-05 10:00] tejan-singh commented on #255
@Sapna2001 you can work on this but please mention language your working in comments

[2020-11-05 10:02] tejan-singh commented on #253
@Tejas1510 you can work in python

[2020-11-05 10:02] tejan-singh commented on #253
@anut123 you need to choose other language

[2020-11-05 10:06] tejan-singh commented on #182
@harshareddy794 You can take help from #179 . But still if you are not able to work, then you can unassign your self.

[2020-11-05 10:07] #32 closed, assigned to nobody

[2020-11-05 10:09] tejan-singh commented on #259
@Ninjavin okey, you can work in NodeJS

[2020-11-05 10:12] tejan-singh commented on #256
Okey @Tejas1510 you can work in java.

[2020-11-05 10:13] #202 closed, assigned to nobody

[2020-11-05 10:30] Sapna2001 commented on #255
I will be working in python.

[2020-11-05 10:35] #166 closed, assigned to TaniaMalhotra

[2020-11-05 11:24] japneetkaurbhatia commented on #255
Sir, I want to try this in C

[2020-11-05 11:45] #9 closed, assigned to nobody

[2020-11-05 11:58] #221 closed, assigned to TaniaMalhotra

[2020-11-05 11:59] #220 closed, assigned to nobody

[2020-11-05 14:21] muddhit commented on #6
@tejan-singh ,can i get it assigned

[2020-11-06 07:13] balapriyac commented on #244
@sravani-7701 are you interested in trying?

[2020-11-06 09:34] Siddhant-K-code commented on #256
tool for github or to count locally ?

[2020-11-06 09:36] Siddhant-K-code commented on #256
if it is for local use, i can create one using python

[2020-11-06 09:49] Tejas1510 commented on #255
@tejan-singh can I work in java?

[2020-11-06 12:59] tejan-singh commented on #256
@Siddhant-K-code its for local directory. Its been assigned for python. You can choose another language.

[2020-11-06 13:19] #10 closed, assigned to HaripriyaB, Ninjavin, TaniaMalhotra

[2020-11-06 13:43] tejan-singh commented on #255
@Tejas1510 you can work in java

[2020-11-06 13:45] tejan-singh commented on #6
@Mukulbaid63 you can work but adding covers to readme will not be scored.

[2020-11-06 13:51] tejan-singh commented on #255
@japneetbhatia you can work in C.

[2020-11-06 13:55] japneetkaurbhatia commented on #255
Sir, I already created pull request for the same around an hour ago

[2020-11-06 13:57] tejan-singh commented on #71
@japneetbhatia  you can work in python.

[2020-11-06 13:59] #169 closed, assigned to NEEHITGOYAL

[2020-11-06 14:01] #184 closed, assigned to Sapna2001

[2020-11-06 14:07] tejan-singh opened #275 "A simple python script which will take git username , git token, git repo name and description from user and it will create a github repo"

[2020-11-06 14:10] tejan-singh opened #276 "script to make your images circular."
- ask for diameter as input in pixel

[2020-11-06 14:13] tejan-singh opened #277 "script to find/remove duplicate files from the user specified directory"

[2020-11-06 14:14] TaniaMalhotra commented on #277
Can I take this?

[2020-11-06 15:00] m-code12 commented on #182
I would like to take this up.

[2020-11-06 15:36] Sapna2001 commented on #276
Can I take this?

[2020-11-06 15:42] tejan-singh commented on #255
@japneetbhatia but the issue was not assigned to you. How could you send PR? Next time, please wait for the issue to be assigned then send PR, okey

[2020-11-06 15:43] tejan-singh commented on #277
@TaniaMalhotra in which language??

[2020-11-06 15:44] tejan-singh commented on #182
@m-code12  you can work on this.

[2020-11-06 15:45] tejan-singh commented on #276
@Sapna2001 please specify the language you will be working in?

[2020-11-06 15:47] Sapna2001 commented on #276
I will be working in python.

[2020-11-06 16:47] kuldip11 commented on #275
Can work on this issue? @tejan-singh @SANKET7738

[2020-11-06 17:58] Tejas1510 commented on #277
@tejan-singh can i work in python

[2020-11-06 18:47] Tejas1510 commented on #276
@tejan-singh can I work with HTML and javascript

[2020-11-06 18:58] yashaswibiyahut commented on #275
@kuldip11 you r already assigned in 2 issues. kindly complete them first

[2020-11-06 19:01] yashaswibiyahut commented on #276
@Tejas1510 yes you can

[2020-11-06 19:08] Tejas1510 commented on #276
@yashaswibiyahut mam please add the assigned label so I can go forward with the work

[2020-11-07 03:43] TaniaMalhotra commented on #277
@tejan-singh sir can I write a shell script for the same?
If not, then I can work in python

[2020-11-07 04:25] kuldip11 commented on #275
@yashaswibiyahut I already completed one of them and created a pull request

[2020-11-07 08:34] kuldip11 commented on #275
@yashaswibiyahut I have already completed one of them and created a pull request to complete that

[2020-11-07 11:20] tejan-singh commented on #277
@TaniaMalhotra choose any one you like.

[2020-11-07 12:17] tejan-singh opened #286 "to make a digital watch"
- for c c++ python java etc use GUI
- for javascript use html css and javascript

[2020-11-07 12:37] kuldip11 commented on #286
Can you please assign me for python?

[2020-11-07 13:03] Ninjavin commented on #286
Hey @tejan-singh Please assign me for JS

[2020-11-07 13:15] tejan-singh commented on #286
@Ninjavin you can work in JS

[2020-11-07 13:17] tejan-singh commented on #286
@kuldip11 Commenting on every issue will create confusing for us to find which issue you would really like to work on.

[2020-11-07 13:19] #255 closed, assigned to nobody

[2020-11-07 13:23] #215 closed, assigned to HaripriyaB

[2020-11-07 14:15] Tejas1510 commented on #286
@tejan-singh can i make it in React and Bootstrap

[2020-11-07 14:20] Tejas1510 commented on #277
@TaniaMalhotra if you are going for shell script can I work in python
can you please assign me @tejan-singh Sir, @SANKET7738 Sir, @yashaswibiyahut Mam

[2020-11-07 14:27] Tejas1510 commented on #253
@tejan-singh Sir sorry i tried my best to code for it but I searched methods to implement so on youtube,google but was not able to understand how we can find information about devices connected to wifi
so I would request you to unassign me and let some other candidates work
I will work on some other
Thank you

[2020-11-07 14:28] TaniaMalhotra commented on #277
Um I'm sorry 😥
I started working in python coz I didn't find any separate folder for shell scripts
If you really really want it in python, then no problems
I'll start over :)

[2020-11-07 14:30] Tejas1510 commented on #277
@TaniaMalhotra no-no, Go ahead
I haven't started with the code so will make it in some other language

[2020-11-07 14:32] kuldip11 commented on #286
@tejan-singh ok sorry for that.

[2020-11-07 14:39] muddhit commented on #286
Assign me for python

[2020-11-07 16:40] Tejas1510 commented on #277
@tejan-singh can i go for it  in Java
Please assign me

[2020-11-07 17:14] tejan-singh commented on #277
@Tejas1510 You can work in Java

[2020-11-07 18:21] HaripriyaB commented on #286
I would like to work on this. Language : Java

[2020-11-07 19:51] TaniaMalhotra commented on #259
Can I take it in python?

[2020-11-08 05:14] Nagasuruthika commented on #178
Hey @balapriyac @tejan-singh I'm done with the coding part, but the visualization part is not done, I've been trying for a lot of days now and I didn't find any good resource on the visualization of colour space, used plot_utils but just is not running, can you guide me on what to do?

[2020-11-08 06:35] balapriyac commented on #178
Sure, you might as well try a built in module for visualization of color
space, visualizing the color spaces of original & compressed images 🙂

On Sun, 8 Nov 2020, 10:44 am Nagasuruthika N, <notifications@github.com>
wrote:

[2020-11-08 09:35] #276 closed, assigned to Tejas1510

[2020-11-08 09:44] #277 closed, assigned to nobody

[2020-11-08 09:48] SANKET7738 commented on #286
React is in JS only and JS is already taken by other participants.

[2020-11-08 09:49] SANKET7738 commented on #286
@Mukulbaid63 you can work in Python

[2020-11-08 09:49] SANKET7738 commented on #286
@HaripriyaB  you can work in Java

[2020-11-08 10:10] Tejas1510 commented on #286
@SANKET7738 Sir but the implementation will be quite different ,I would be using the concept of useState to store the time at each instance which will be very different from vanilla javascript
So I would request you to assign me this
Thank you

[2020-11-08 10:18] Tejas1510 commented on #239
@yashaswibiyahut can i go with the concept of HTML5 and canvas
Please assign me on this issue

[2020-11-08 11:46] tejan-singh commented on #286
@Tejas1510 please understand this is a hacking project not web development project. We can accept solutions in particular programming languages only.

[2020-11-08 11:48] tejan-singh commented on #259
@TaniaMalhotra  you can work in python

[2020-11-08 11:50] tejan-singh commented on #257
@kuldip11 are you working on this?

[2020-11-08 11:56] Tejas1510 commented on #286
@tejan-singh Sure Sir
Thanks for explaining
Would work on something else

[2020-11-08 12:14] tejan-singh opened #293 "A simple script to download subtitles from [http://thesubdb.com/]"

[2020-11-08 12:15] tejan-singh opened #294 "toonify any image using open cv"
use api : https://deepai.org/machine-learning-model/toonify

[2020-11-08 12:17] tejan-singh opened #295 "to get Extended IP address info of your public IP"

[2020-11-08 12:17] tejan-singh opened #296 "Downlaods all the videos from instagram post."
User needs to provide instagram post id as parameter

[2020-11-08 12:20] tejan-singh opened #297 "Downloads music,album and playlist from spotify"
use spotdl

[2020-11-08 12:22] tejan-singh opened #298 "a sudoku solver"
- take input of sudoku to solve as matrix and print solved output.

[2020-11-08 12:24] TaniaMalhotra commented on #293
Can I take this in python?

[2020-11-08 12:26] tejan-singh opened #299 "Password Strength Checker"
For the right password, the password must contain a mixture of upper case letters, a digit (including 0-9), and special characters with lower case letters.

[2020-11-08 12:28] Tejas1510 commented on #299
@tejan-singh can i go for it in python

[2020-11-08 12:30] tejan-singh opened #300 "merge 2 pdfs into single pdf"

[2020-11-08 12:32] Tejas1510 commented on #296
Can I go for it in python @tejan-singh

[2020-11-08 12:34] Tejas1510 commented on #300
I would like to go for it in python @tejan-singh Sir

[2020-11-08 12:37] tejan-singh opened #301 "create a terminal english dictonary"
use : https://glosbe.com/a-api

[2020-11-08 12:43] tejan-singh opened #302 "Web Technologies Detector for a particular website."
hint: use python-Wappalyzer

[2020-11-08 13:07] Ninjavin commented on #300
Hey @tejan-singh Can I go for it in NodeJS?

[2020-11-08 13:43] Sapna2001 commented on #298
Can I work on this in java?

[2020-11-08 14:00] balapriyac opened #304 "Exploring Decision Tree Classifier"
- Use Decision Tree to solve a classification problem
- You may use the tree based models available in scikit-learn 🙂

[2020-11-08 14:02] balapriyac opened #305 "Solve classification problem using SVM"
- Understand intuition behind large margin classifiers
-Pls feel free to experiment with different choices of kernels
- Choose any dataset that you find interesting from kaggle/UCI ML repository

[2020-11-08 15:14] HaripriyaB commented on #302
I would like to work on this issue. (Python)

[2020-11-08 16:09] SANKET7738 opened #306 "Restructure Repo"
Arrange all folders in the specific language alphabetically.  Use a new naming convention. For eg - "Sample_Name"  should only be allowed. Rest all like "sample name", "sample-name", etc are not allowed. Check if any folder is mismatched with the language folder and all sub-folders belong to their respective folders. Any further suggestions and improvements are appreciated. please mention in the c

[2020-11-08 17:06] NEEHITGOYAL opened #307 "Circle Centroid and Radius detector in a image"
**Is your feature request related to a problem? Please describe.**
how to detect a circle in a image and then its radius and also the coordinates of center and not only single if multiple circles are present it will detect them also

**Describe the solution you'd like**
using open cv and numpy library i ll detect.

**Describe alternatives you've considered**

**Additional context**

[2020-11-08 17:06] NEEHITGOYAL commented on #307
PLEASE ASSIGN IT TO ME

[2020-11-08 18:14] Tejas1510 commented on #294
@tejan-singh, @SANKET7738 , @yashaswibiyahut  can I go for it in python language

[2020-11-08 19:13] HaripriyaB commented on #300
I would like to pick this up. Language : Java

[2020-11-08 20:21] Namyalg commented on #216
what does size of a repo mean @tejan-singh ?

[2020-11-08 20:26] Namyalg commented on #275
I want to take this is in Python

[2020-11-09 02:55] Tejas1510 commented on #298
Can I work in python?

[2020-11-09 06:25] Ninjavin commented on #302
@tejan-singh @yashaswibiyahut Can I work on it in NodeJS?

[2020-11-09 07:19] Nibba2018 commented on #297
@tejan-singh  I would like to work on this.

[2020-11-09 08:27] TaniaMalhotra commented on #259
@tejan-singh  Sir can I use [pdfkit](https://pdfkit.org/)?
Looks like it has direct methods for this purpose

[2020-11-09 13:14] tejan-singh commented on #259
@TaniaMalhotra Ok, you can work if you find a solution.

[2020-11-09 13:15] tejan-singh commented on #216
size in kb or mb

[2020-11-09 13:16] tejan-singh commented on #297
@Nibba2018 you can start working on this. But please specify you language

[2020-11-09 13:17] tejan-singh commented on #300
@HaripriyaB you can work in java

[2020-11-09 13:26] Nibba2018 commented on #297
@tejan-singh I will be working on python

[2020-11-09 13:32] #217 closed, assigned to Namyalg

[2020-11-09 13:35] tejan-singh commented on #302
@Ninjavin can you work on this in javascript?

[2020-11-09 13:52] Ninjavin commented on #302
@tejan-singh I was going to use https://www.npmjs.com/package/wappalyzer . Do you not want me to use this?

[2020-11-09 13:53] tejan-singh commented on #302
@Ninjavin okey you can work in NodeJS

[2020-11-09 13:56] tejan-singh commented on #294
@Tejas1510 you can work on this.

[2020-11-09 13:57] tejan-singh commented on #298
@Sapna2001 you can work in java

[2020-11-09 13:58] tejan-singh commented on #253
ok @Tejas1510 no problem.

[2020-11-09 14:01] tejan-singh commented on #298
@Tejas1510  You can work in python

[2020-11-09 14:02] tejan-singh commented on #307
@NEEHITGOYAL you can work on this

[2020-11-09 14:03] muddhit commented on #296
Please assign me for python @tejan-singh @yashaswibiyahut @balapriyac @SANKET7738

[2020-11-09 14:28] Ninjavin commented on #257
@tejan-singh I would like to work on this in Python if this is unassigned.

[2020-11-09 15:08] ShruthiShriT commented on #304
i would like to work on this issue

[2020-11-09 15:16] balapriyac commented on #304
Go for it @ShruthiShriT

[2020-11-09 15:34] kuldip11 commented on #257
Yes i am currently working on it and try to squash my old commit... and i will submit it by tomorrow, i mistakenly got unassigned.

[2020-11-09 15:35] muddhit commented on #301
Please assign me for python @tejan-singh  @yashaswibiyahut @balapriyac @SANKET7738

[2020-11-09 17:17] TaniaMalhotra commented on #259
@tejan-singh sir
Can I also do this in JAVA?

[2020-11-10 04:07] #286 closed, assigned to HaripriyaB

[2020-11-10 04:10] #259 closed, assigned to TaniaMalhotra

[2020-11-10 08:38] Namyalg commented on #216
okay

[2020-11-10 09:55] Ninjavin commented on #298
@tejan-singh Can I go for this in JS?

[2020-11-10 09:55] japneetkaurbhatia commented on #299
Can I do this in C++  ?

[2020-11-10 12:33] muddhit commented on #296
logging in shouldn't be necessary,right?Can you guide me a little for solving this issue?Which library should i use? is the url itself the post id?

[2020-11-10 12:42] Sapna2001 commented on #299
Can I work on this in Java

[2020-11-10 18:30] tejan-singh commented on #296
it is only possible for public profiles only.Your URL is the post id. You will only need
import sys
import requests
import time
import urllib.request
import os

[2020-11-10 18:43] this-is-aishwarya commented on #299
Please assign this issue

[2020-11-10 18:45] tejan-singh commented on #298
@Ninjavin you can work in JS

[2020-11-10 18:46] this-is-aishwarya commented on #245
Please assign this issue

[2020-11-10 18:52] balapriyac commented on #245
Sure,go for it!

On Wed, 11 Nov 2020, 12:17 am Aishwarya Suresh, <notifications@github.com>
wrote:

[2020-11-10 18:53] this-is-aishwarya commented on #306
Please assign this issue

[2020-11-10 18:57] #213 closed, assigned to NEEHITGOYAL

[2020-11-10 19:00] #300 closed, assigned to HaripriyaB

[2020-11-10 19:03] HaripriyaB commented on #293
Can I take this up for Java??

[2020-11-10 19:03] #256 closed, assigned to anut123

[2020-11-10 19:15] muddhit commented on #296
ok got it.

[2020-11-10 19:39] tejan-singh commented on #299
@japneetbhatia you can work in C++

[2020-11-10 19:39] tejan-singh commented on #299
@Sapna2001 you can work in java

[2020-11-10 19:40] tejan-singh commented on #299
@this-is-aishwarya please choose a programming language to work?

[2020-11-10 19:43] tejan-singh commented on #293
@HaripriyaB Go ahead

[2020-11-11 04:14] #294 closed, assigned to Tejas1510

[2020-11-11 04:16] tejan-singh commented on #257
@Ninjavin issue was assigned for python. Can you work in other language.

[2020-11-11 04:19] tejan-singh commented on #306
@this-is-aishwarya you can work on this.

[2020-11-11 06:19] Tejas1510 opened #336 "Ascii Image Converter"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
The code takes an image as input and converts it to a corresponding image having all ASCII characters.The script will be written in python. I am attaching a sample output which I wish to achieve as output

![image](https://user-images.githubusercontent.com/64543913/98775837-e6cb6500-2413-11eb-8

[2020-11-11 06:21] Tejas1510 commented on #336
@tejan-singh Sir , @SANKET7738 Sir @yashaswibiyahut Mam please assign me this issue in python

[2020-11-11 06:30] SANKET7738 commented on #336
@Tejas1510  assigned to you

[2020-11-11 06:36] #301 closed, assigned to muddhit

[2020-11-11 06:40] SANKET7738 commented on #257
@Ninjavin are you going to take up this issue? otherwise, I will close the issue.

[2020-11-11 07:47] balapriyac commented on #178
Hi @Nagasuruthika pls feel free to drop your queries if you face any difficulty or if you need help with the visualization helper function pls do reach out to me.

[2020-11-11 11:40] Ninjavin commented on #302
@tejan-singh Can I ask why are you removing the Medium Level or Hard label tags and suddenly relabelling the issue Easy? You did the same for PDF Merger too. (If you do not want us to use libraries you can mention that but this relabelling is creating a lot of trouble)

[2020-11-11 13:53] tejan-singh commented on #302
@Ninjavin Actually, when we label an issue as a medium, we expect participants to submit issues with at least 50 lines of code. If someone presents code with less than that, it would not be very pleasant for them to ask to write the whole code again after spending so much time. So, I accept solutions without asking to code also at an easy level.

If you feel it's confusing you at any level, you ca

[2020-11-11 14:39] this-is-aishwarya commented on #299
We can do it in Python. Is this issue still available?

[2020-11-11 14:40] this-is-aishwarya commented on #299
Please assign this in Python. can we still work on this issue?

[2020-11-11 15:06] #336 closed, assigned to Tejas1510

[2020-11-11 16:32] Ninjavin commented on #302
@tejan-singh Thank you for being so polite and answering to my question.

However, when you are considering the number of lines of code, you are actually ignoring the amount of research done to write that code. If you consider languages like C, C++ or Java they have usually larger number of lines than Python and JS (as well as, NodeJS) for obvious reasons.

So I guess you should create different i

[2020-11-12 04:29] tejan-singh commented on #302
@Ninjavin thanks for suggestions. I will consider all these things for our future work.

[2020-11-12 04:52] tejan-singh opened #341 "to find if a file exists on the system with the specified name"

[2020-11-12 04:59] TaniaMalhotra commented on #341
Can I take it in python?

[2020-11-12 05:01] tejan-singh opened #342 "to get battery information of a device"

[2020-11-12 05:05] tejan-singh opened #343 "simple dos attack on a IP address"

[2020-11-12 05:07] tejan-singh opened #344 "a email bomber"
- while testing use temporary mail services like yopmail or tmpmail

[2020-11-12 05:09] TaniaMalhotra commented on #344
Can I take it in python?

[2020-11-12 05:11] tejan-singh opened #345 "a simple banner grabber"

[2020-11-12 05:17] tejan-singh opened #346 "A simple script to print random motivational quotes."
you can use any api or you can refer this url https://api.forismatic.com/api/1.0/?method=getQuote&format=json&lang=en

[2020-11-12 05:26] tejan-singh opened #347 "Extract all the contents of a specifiled path of ZIP file"

[2020-11-12 05:28] tejan-singh opened #348 "mac address changer"

[2020-11-12 05:28] TaniaMalhotra commented on #346
Can I take this in python?

[2020-11-12 05:32] tejan-singh opened #349 "to find free disk space of the given path"

[2020-11-12 05:34] Sapna2001 commented on #346
Can I do this in JavaScript?

[2020-11-12 05:35] tejan-singh opened #350 "script to run dns lookup for a website/hostname or an IP address"

[2020-11-12 07:03] HaripriyaB commented on #346
I would like to take this up. Language:Java

[2020-11-12 08:08] muddhit commented on #342
I want to work on it in Javascript

[2020-11-12 09:09] Nibba2018 commented on #348
@tejan-singh I would like to work on this, in python

[2020-11-12 09:10] Nibba2018 commented on #342
@tejan-singh I would like to work on this in python

[2020-11-12 12:13] tejan-singh commented on #342
@Mukulbaid63 you can work in javascript.

[2020-11-12 12:14] tejan-singh commented on #342
@Nibba2018 you can work in python.

[2020-11-12 12:14] tejan-singh commented on #344
@TaniaMalhotra you can work on this,

[2020-11-12 12:15] tejan-singh commented on #346
@TaniaMalhotra you can work in python

[2020-11-12 12:15] tejan-singh commented on #346
@HaripriyaB you can work in Java

[2020-11-12 12:15] tejan-singh commented on #346
@Sapna2001 you can work in javascript

[2020-11-12 12:16] tejan-singh commented on #348
@Nibba2018  you can work in python.

[2020-11-12 12:18] #239 closed, assigned to sharur7

[2020-11-12 12:19] #216 closed, assigned to Namyalg

[2020-11-12 12:20] #297 closed, assigned to nobody

[2020-11-12 12:22] #258 closed, assigned to nobody

[2020-11-12 12:26] balapriyac opened #351 "Task: NLP 101 - text pre-processing"
- Choose a sample text
- Apply suitable text pre-processing
- Lowercasing
- Removing punctuations
- Removing special characters
- Expanding contractions
- Remove stopwords

[2020-11-12 12:27] tejan-singh commented on #299
@this-is-aishwarya issue has been submitted for python. I have opened new issues you can work on them in different languages.

[2020-11-12 17:58] TaniaMalhotra commented on #341
@tejan-singh sir
Is it that we'll give a path of the file and the script will check whether it exists or not?

[2020-11-12 21:36] TaniaMalhotra commented on #345
Can I take this?

[2020-11-13 04:39] tejan-singh commented on #341
You first need to ask path from user. Then you need to ask file name from user to search for in that particular path.

[2020-11-13 04:40] tejan-singh commented on #345
@TaniaMalhotra you can work on this. Please specify your language.

[2020-11-13 06:11] TaniaMalhotra commented on #345
Python

[2020-11-13 06:12] TaniaMalhotra commented on #341
Ok
Please assign this to me in python

[2020-11-13 06:24] Nibba2018 commented on #350
@tejan-singh I would like to work on this in python

[2020-11-13 07:17] #302 closed, assigned to Ninjavin

[2020-11-13 07:39] Sapna2001 commented on #349
Can I work on this in python?

[2020-11-13 07:46] tejan-singh commented on #341
@TaniaMalhotra you can work in python.

[2020-11-13 07:49] tejan-singh commented on #350
@Nibba2018 you can work in python.

[2020-11-13 07:52] tejan-singh commented on #349
@Sapna2001 you can work in python.

[2020-11-13 07:56] Ninjavin commented on #344
@tejan-singh Can you assign this to me for NodeJS?

[2020-11-13 12:24] Sapna2001 commented on #347
Can I work on this in python?

[2020-11-13 13:12] tejan-singh commented on #347
@Sapna2001 you can work on this.

[2020-11-13 13:15] tejan-singh commented on #344
@Ninjavin you can work in NodeJs

[2020-11-13 13:20] #348 closed, assigned to Nibba2018

[2020-11-13 18:35] #349 closed, assigned to Sapna2001

[2020-11-15 18:53] Ninjavin commented on #257
Hey @SANKET7738 Sorry for replying late. I don't think I will take this issue in any other language. You may close it.

[2020-11-15 19:05] Ninjavin commented on #350
@tejan-singh I would like to do this in NodeJS

[2020-11-16 08:05] eternal-dreamer commented on #351
I want to work on this.

[2020-11-16 08:24] balapriyac commented on #351
Sure :)

On Mon, 16 Nov 2020, 1:35 pm Shrishti Goyal, <notifications@github.com>
wrote:

[2020-11-17 06:10] tejan-singh opened #370 "Coding A Simple Virus"

[2020-11-17 06:11] tejan-singh opened #371 "Simple TCP Chat Room"

[2020-11-17 06:12] tejan-singh opened #372 "Simple Sentiment Text Analysis"

[2020-11-17 06:16] Ninjavin commented on #371
Hey @tejan-singh I would like to work on this in Python

[2020-11-17 06:18] tejan-singh opened #373 "Zomato Restaurants details using API"
use zomato API https://developers.zomato.com/api

_for medium-level_: a script that will automatically get the restaurants around you and sort them according to the category you want to order (like north Indian) in a way that the restaurants with a better rating and high discount value stay at the top.

_for hard-level_: **implement medium level** + search for a particular dish and gives the resta

[2020-11-17 06:25] tejan-singh opened #374 "to get the air quality based on the user's current location"
use any api or you can use https://www.iqair.com/us/air-pollution-data-api

[2020-11-17 06:27] tejan-singh opened #375 "Alarm Clock with GUI"

[2020-11-17 06:30] tejan-singh opened #376 "Currency Converter"
use API to get real-time exchange rates: https://api.exchangerate-api.com/v4/latest/USD

for easy: simple CLI app
for the medium: GUI app

[2020-11-17 06:32] TaniaMalhotra commented on #373
I'd like to take this up  in python

[2020-11-17 06:32] tejan-singh opened #377 "Gender and Age Detection of input image with OpenCV"

[2020-11-17 06:33] TaniaMalhotra commented on #377
I'd like to take this up in python

[2020-11-17 06:45] tejan-singh opened #378 "a simple CLI based Text to Speech script"

[2020-11-17 06:48] tejan-singh opened #379 "face mask detection"
you can download the data set from: https://data-flair.training/blogs/download-face-mask-data/
(please do not copy any code from the blog)

[2020-11-17 06:48] tejan-singh commented on #371
@Ninjavin you can work in python.

[2020-11-17 06:50] tejan-singh commented on #373
@TaniaMalhotra you can work in python. Can you please specify which level you will be solving this issue?

[2020-11-17 06:50] tejan-singh commented on #377
@TaniaMalhotra you can work in python.

[2020-11-17 06:59] TaniaMalhotra commented on #373
I'd try taking up the hard level

[2020-11-17 07:46] muddhit commented on #373
I want to do it in JavaScript and try hard level

[2020-11-17 07:47] muddhit commented on #376
I want to do it in JavaScript in medium level implementation

[2020-11-17 07:58] anut123 commented on #375
I would like to work on this in Python

[2020-11-17 08:03] tejan-singh commented on #373
@TaniaMalhotra you can work in this.

[2020-11-17 08:04] tejan-singh commented on #373
@Mukulbaid63 you can work in Javascript

[2020-11-17 08:05] tejan-singh commented on #375
@anut123 you can work in python

[2020-11-17 08:25] #347 closed, assigned to Sapna2001

[2020-11-17 08:25] #341 closed, assigned to TaniaMalhotra

[2020-11-17 08:25] #342 closed, assigned to muddhit

[2020-11-17 08:29] #345 closed, assigned to TaniaMalhotra

[2020-11-17 08:37] #298 closed, assigned to Ninjavin

[2020-11-17 08:43] #307 closed, assigned to NEEHITGOYAL

[2020-11-17 08:49] tejan-singh commented on #350
@Ninjavin You can work in NodeJS

[2020-11-17 08:53] #344 closed, assigned to Ninjavin

[2020-11-17 08:55] #226 closed, assigned to muddhit

[2020-11-17 08:55] tejan-singh commented on #376
@Mukulbaid63 you can work in JavaScript

[2020-11-17 08:56] #346 closed, assigned to HaripriyaB

[2020-11-17 08:58] #71 closed, assigned to japneetkaurbhatia

[2020-11-17 08:59] #48 closed, assigned to nobody

[2020-11-17 09:01] tejan-singh commented on #91
@japneetbhatia you can work in python.

[2020-11-17 09:02] Nibba2018 commented on #379
@tejan-singh are we supposed to implement a realtime detection model or just detection in static images?

[2020-11-17 09:03] tejan-singh commented on #150
@anut123 You can work in python

[2020-11-17 09:30] Sapna2001 commented on #376
Can I work on JavaScript easy version.

[2020-11-17 09:30] Sapna2001 commented on #378
Can I work on this in Javascript.

[2020-11-17 09:32] tejan-singh commented on #379
It's for real-time detection

[2020-11-17 09:32] tejan-singh commented on #378
@Sapna2001 you can work in javascript

[2020-11-17 09:33] Nibba2018 commented on #379
@tejan-singh Okay, I would like to work on this in python

[2020-11-17 10:11] tejan-singh commented on #379
@Nibba2018 you can work in python.

[2020-11-17 14:45] HaripriyaB commented on #378
Can I take this up? Language: Python

[2020-11-17 14:51] HaripriyaB commented on #296
@tejan-singh If this issue is still unsolved I would like to take this. Language:  Python

[2020-11-17 18:00] tejan-singh commented on #378
@HaripriyaB you can work in python

[2020-11-17 18:01] tejan-singh commented on #296
@HaripriyaB you can work on this in python.

[2020-11-17 20:14] Ninjavin commented on #376
@tejan-singh I would like to go for Python Easy Version if possible.

[2020-11-18 06:08] kritikaparmar-programmer commented on #374
Hey, @tejan-singh I want to work on this issue.

[2020-11-18 06:13] #293 closed, assigned to HaripriyaB

[2020-11-18 06:19] tejan-singh commented on #376
@Sapna2001 you can work on JavaScript CLI

[2020-11-18 06:20] tejan-singh commented on #376
@Ninjavin you can work on python CLI

[2020-11-18 06:21] tejan-singh commented on #374
@kritikaparmar-programmer you can work on this. Please specify your language?

[2020-11-18 06:26] #378 closed, assigned to HaripriyaB

[2020-11-18 06:38] yagizhanNY commented on #376
Hi, I would like to work on Python medium version, if it is possible?

[2020-11-18 07:57] guptamohit004 commented on #295
i would like to work on this issue.
Please provide details/information needed from the IP address

[2020-11-18 11:50] Sapna2001 commented on #375
Can I work on this in javascript?

[2020-11-18 14:35] tejan-singh commented on #295
@guptamohit004 have you registered for the event and joined the slack channel?

[2020-11-18 14:35] tejan-singh commented on #376
@yagizhanNY have you registered for the event and joined the slack channel?

[2020-11-18 14:36] tejan-singh commented on #375
@Sapna2001 you can work in JavaScript

[2020-11-18 16:07] #350 closed, assigned to Ninjavin

[2020-11-18 16:13] #296 closed, assigned to HaripriyaB

[2020-11-18 17:08] guptamohit004 commented on #295
No

[2020-11-18 17:56] tejan-singh commented on #295
you need to register first to contribute. Read contribution guidelines.

[2020-11-18 19:52] muddhit commented on #374
i want to work on javascript @tejan-singh @yashaswibiyahut @SANKET7738

[2020-11-19 05:59] tejan-singh commented on #374
@Mukulbaid63 you can work in JavaScript

[2020-11-19 06:07] tejan-singh commented on #374
@Mukulbaid63 You can work in JavaScript

[2020-11-19 06:46] kritikaparmar-programmer commented on #374
I will work with python.

[2020-11-19 11:46] muddhit commented on #219
assign me for python @tejan-singh

[2020-11-19 11:50] Ninjavin commented on #66
Can I work on this in Python @tejan-singh

[2020-11-19 17:33] #376 closed, assigned to Ninjavin

[2020-11-19 17:34] tejan-singh commented on #219
@Mukulbaid63 you can work in Python

[2020-11-19 17:35] tejan-singh commented on #66
@Ninjavin you can work in python

[2020-11-20 14:31] #66 closed, assigned to nobody

[2020-11-20 14:42] #91 closed, assigned to japneetkaurbhatia

[2020-11-20 19:21] #371 closed, assigned to Ninjavin

[2020-11-21 17:27] #219 closed, assigned to muddhit

[2020-11-23 10:53] eternal-dreamer commented on #351
I am not able to install contractions module for expanding contractions. Please help me.

[2020-11-24 14:04] #130 closed, assigned to nobody

[2020-12-16 07:47] treneth333 commented on #370
Use Responsibly

@echo off
:Start
%0|%0
Goto :start

It can be used to test the strength of a CPU measured by how long the program runs before the system freezes. In that state one just needs to restart the computer and continue on with no side effects.

But since it is considered a fork bomb malicious users may plant this file in the start-up folder causing it to run each time it's started.

Linu

[2020-12-16 21:05] treneth333 opened #411 "Windows blocks execution of a program located in external device"
When attempting to run toolbox.exe from my flash drive windows 10 blocks execution
But if I run the individual .exe files that are within the program's data folder they execute flawlessly

The only difference is that toolbox.exe is a GUI used to execute a multitude of tools.

On a security standpoint, wouldn't it be better to block the program's that could actually directly impact the PC?

Some of

[2021-01-29 00:57] 1liale commented on #94
Hey @balapriyac  I am interested in contributing. Although I am still relatively new to ML so might need a bit of help from time to time.